<div class="w-full">
  <section>
    <header class="flex flex-col sm:flex-row gap-6 justify-between">
      <div>
        <h2 class="text-gray-900 text-lg font-medium dark:text-white"><%= it.t("title", { ns: "settings-billing" }) %></h2>
        <p class="text-gray-500 mt-1 dark:text-gray-300"><%= it.t("description", { ns: "settings-billing" }) %></p>
      </div>
      <div class="flex items-center justify-between sm:space-x-8 sm:justify-auto">
        <div class="flex flex-col">
          <span class="text-sm text-gray-600 dark:text-gray-400"><%= it.t("your_balance", { ns: "settings-billing" }) %></span>
          <span class="font-semibold text-lg text-gray-900 dark:text-white">
            <%= it.billing_account?.balance.toLocaleString("uz", { currency: "UZS" , minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
          </span>
        </div>
        <a href="/payments/new" class="btn btn-md btn-primary"><%= it.t("top_up", { ns: "settings-billing" }) %></a>
      </div>
    </header>
    <%~ includeFile('../partials/flash.html', it) %>
    <hr class="bg-gray-200 w-full mt-5 mb-6 border-none h-px dark:bg-zinc-800" />
    <div class="mb-8" id="devices">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-gray-700 font-medium dark:text-gray-200">
          <%= it.t("billing.title", { ns: "settings-billing" }) %>
        </h3>
      </div>
      <table class="w-full rounded-lg overflow-hidden shadow-sm">
        <thead class="text-left text-gray-500 text-sm dark:text-gray-200">
          <tr class="border-b border-b-gray-200 dark:border-b-zinc-800">
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"><%= it.t("billing.date", { ns: 'settings-billing' })%></th>
            <th class="font-medium p-3 bg-gray-100 w-1/2 dark:bg-zinc-800"><%= it.t("billing.description", { ns: 'settings-billing' })%></th>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"><%= it.t("billing.amount", { ns: 'settings-billing' })%></th>
          </tr>
        </thead>
      </table>
    </div>
  </section>
</div>
</div>
</main>
<script>
 document.title = "<%= it.t("tabs.billing", { ns: "settings" })%> | Needs"
</script>
