<div class="w-full">
  <section>
    <header>
      <h2 class="text-gray-900 text-lg font-medium dark:text-white"><%= it.t("title", { ns: "settings-privacy" }) %></h2>
      <p class="text-gray-500 mt-1 dark:text-gray-300"><%= it.t("description", { ns: "settings-privacy" }) %></p>
    </header>
    <%~ includeFile('../partials/flash.html', it) %> 
    <hr class="bg-gray-200 w-full mt-5 mb-6 border-none h-px dark:bg-zinc-800" />
    <div class="mb-8" id="devices">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-gray-700 font-medium dark:text-gray-200">
          <%= it.t("devices.title", { ns: "settings-privacy" }) %>
        </h3>
        <% if (it.sessions.length > 1) { %>
        <form action="/auth/sessions?return_to=/settings/privacy" method="post">
          <button class="btn btn-md btn-tertiary-danger" name="_action" value="terminate_other_sessions">
            <%= it.t("terminate_other_sessions", { ns: "settings-privacy" } )%>
          </button>
        </form>
        <% } %>
      </div>
      <table class="w-full rounded-lg overflow-hidden shadow-sm">
        <thead class="text-left text-gray-500 text-sm dark:text-gray-200">
          <tr class="border-b border-b-gray-200 dark:border-b-zinc-800">
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 w-1/2"><%= it.t("devices.name", { ns: "settings-privacy" })%></th>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"><%= it.t("devices.ip", { ns: "settings-privacy" })%></th>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"></th>
          </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-200 dark:divide-zinc-800">
          <% it.sessions.forEach(function (session, idx) { %>
            <tr>
              <td class="font-medium p-3 text-gray-900 dark:text-white">
                <% if (session.user_agent.browser_name) {%>
                  <%= session.user_agent.browser_name %> <%= parseFloat(session.user_agent.browser_version) %>
                <% } else { %>
                  <%= session.user_agent.raw %>
                <% } %>
              </td>
              <td class="p-3 text-gray-500 dark:text-gray-200"><%= session.ip %></td>
              <% if (idx !== 0) { %>
                <td class="p-3 text-gray-500 w-16">
                  <form action="/auth/sessions/<%= session.id %>?return_to=/settings/privacy&err_to=/settings/privacy" method="post" class="flex justify-center items-center">
                    <button class="hover:bg-error-50 hover:text-error-700 duration-200 rounded-lg p-2.5 dark:hover:bg-zinc-800 dark:hover:text-error-600" name="_action" value="delete_one">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    </button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div id="passkeys">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-gray-700 font-medium dark:text-gray-300">
          <%= it.t("passkeys.title", { ns: "settings-privacy" }) %>
        </h3>
        <% if (it.credentials.length > 1) { %>
        <form action="/auth/credentials?return_to=/settings/privacy&err_to=/settings/privacy" method="post" class="js-credentials-delete-form">
          <button class="btn btn-md btn-tertiary-danger" name="_action" value="delete_credentials">
            <%= it.t("delete_all_keys", { ns: "settings-privacy" } )%>
          </button>
        </form>
        <% } %>
      </div>
      <% if (it.credentials.length) { %>
      <table class="w-full rounded-lg overflow-hidden shadow-sm mb-5 js-credentials-table">
        <thead class="text-left text-gray-500 text-sm dark:text-gray-200">
          <tr class="border-b border-b-gray-200 dark:border-b-zinc-800">
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 w-3/5"><%= it.t("passkeys.name", { ns: "settings-privacy" })%></th>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"><%= it.t("passkeys.reg_date", { ns: "settings-privacy" })%></th>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800"></th>
          </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-200 dark:divide-zinc-800">
          <% it.credentials.forEach(function (credential) { %>
            <tr>
              <td class="p-3 text-gray-900 font-medium dark:text-white"><%= credential.title %></td>
              <td class="p-3 text-gray-500"><%= it.date_formatter.format(credential.created_at) %></td>
              <td class="p-3 text-gray-500 w-16">
                <button class="hover:bg-error-50 hover:text-error-700 duration-200 rounded-lg p-2.5 dark:hover:bg-zinc-800 dark:hover:text-error-600 js-credential-remove-btn" name="_action" value="delete_one">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pointer-events-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </button>
                <form action="/auth/credentials/<%= credential.id %>?return_to=/settings/privacy#passkeys" method="post" class="flex justify-center items-center js-credential-delete-form">
                  <input type="hidden" name="_action" value="delete_one" />
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
      <form action="/auth/requests" class="js-credential-request-form js-enabled">
        <label class="text-sm font-medium text-gray-700 block dark:text-gray-200">
          <%= it.t("passkey_name", { ns: "settings-privacy" })%>
          <input type="text" name="title" class="form-control mt-2" placeholder="Macbook TouchID" pattern="^(?!\s).+(?<!\s)$" required />
        </label>
        <input type="hidden" name="type" value="create" />
        <button class="btn btn-md btn-primary mt-4">
          <svg viewBox="0 0 24 24" fill="none" class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <%= it.t("add", { ns: "settings-privacy" })%>
        </button>
      </form>
      <noscript>
        <span class="text-sm text-amber-600 inline-block mt-2"><%= it.t("js_feature_only", { ns: "common" }) %></span>
      </noscript>
    </div>
  </section>
</div>
</div>
</main>
<dialog id="MiniDialog">
  <form method="dialog" class="space-y-3">
    <article>
      <section>
        <p class="text-base"><%= it.t("delete_key_confirmation", { ns: "settings-privacy" })%></p>
      </section>
    </article>
    <footer>
      <menu class="flex space-x-2 justify-end">
        <button autofocus type="button" onclick="this.closest('dialog').close('cancel')" class="btn btn-md"><%= it.t("cancel", { ns: "common" })%></button>
        <button type="submit" value="confirm" class="btn btn-primary btn-md"><%= it.t("confirm", { ns: "common" })%></button>
      </menu>
  </footer>
</dialog>
<script>
 document.title = "<%= it.t("tabs.privacy", { ns: "settings" })%> | Needs"
</script>
<script src="/public/js/privacy.js" type="module" defer async> </script>
