<main class="max-w-7xl mx-auto my-20 px-4 xl:px-0">
  <h1 class="font-medium text-3xl text-gray-900 dark:text-white mb-12">Attributes</h1>
  <div>
    <form method="post" class="flex flex-col gap-4">
      <!-- <div class="flex gap-4">
           <select class="form-control !w-1/3 flex-shrink-0">
           <option selected disabled></option>
           <% it.attributes.forEach(function (attribute) { %>
           <option><%= attribute.name %></option>
           <% }) %>
           </select>
           <ul class="flex">
           <li>
           <input type="hidden" name="option_value_label" value="Option" />
           <input id="option" type="checkbox" class="absolute opacity-0 -z-10 w-0 peer" />
           <label for="option" class="border border-gray-300 dark:border-zinc-700 p-2 rounded-md cursor-pointer text-gray-500
           dark:text-gray-400 peer-checked:bg-gray-100 peer-checked:dark:bg-zinc-800 peer-checked:dark:border-zinc-600
           peer-checked:text-gray-900 dark:peer-checked:text-white hover:bg-gray-50 hover:text-gray-900
           hover:dark:bg-zinc-800 hover:dark:text-white duration-200 inline-block">Option</label>
           </li>
           </ul>
           </div> -->
      <details class="group no-overlay relative max-w-fit">
        <summary class="cursor-pointer btn btn-text btn-0 max-w-min flex-shrink-0 underline decoration-transparent duration-300
            hover:decoration-primary-500 group-peer-checked:hidden group-peer-focus-visible:shadow-[0px_0px_0px_2px_rgb(209,224,255)]
            dark:group-peer-focus-visible:shadow-[0px_0px_0px_2px_rgb(41,112,255)] js-add-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
          </svg>
          Add
        </summary>
        <!-- <div class="absolute left-full top-1/2 -translate-y-1/2 ml-4 bg-white w-96 shadow-lg border border-gray-100 rounded-lg dark:bg-zinc-900 dark:border-zinc-800 flex flex-col space-y-4 p-4">
             <ul class="grid grid-cols-2 gap-4">
             <% it.attributes.forEach(function(attribute) {%>
             <li class="flex items-start">
             <input type="checkbox" name="attribute" id="<%= attribute.id %>" class="checkbox-input appearance-none peer" />
             <label for="<%= attribute.id %>" class="checkbox-control cursor-pointer border border-gray-300 dark:border-zinc-600 rounded p-px ring-offset-white dark:ring-offset-zinc-900 peer-focus:ring-2 peer-focus:ring-primary-600 peer-focus:ring-offset-2">
             <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 checkbox-icon">
             <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
             </svg>
             </label>
             <label for="<%= attribute.id %>" class="checkbox-label cursor-pointer ml-2 text-gray-500 dark:text-gray-400 peer-checked:text-gray-900 dark:peer-checked:text-gray-200">
             <%= attribute.name %>
             </label>
             </li>
             <% }) %>
             </ul>
             <menu class="flex gap-4">
             <button type="button" class="btn btn-primary btn-md flex-1">Save</button>
             <button type="button" class="btn btn-secondary btn-md flex-1">Cancel</button>
             </menu>
             </div> -->
      </details>
    </form>
  </div>
</main>
<dialog id="MiniDialog" class="p-4 sm:p-8">
  <form method="dialog" class="flex flex-col space-y-4">
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <% it.attributes.forEach(function(attribute) {%>
        <li class="flex items-start">
          <input type="checkbox" name="attribute" id="<%= attribute.id %>" class="checkbox-input appearance-none peer" />
          <label for="<%= attribute.id %>" class="checkbox-control cursor-pointer border border-gray-300 dark:border-zinc-600 rounded p-px ring-offset-white dark:ring-offset-zinc-900 peer-focus:ring-2 peer-focus:ring-primary-600 peer-focus:ring-offset-2">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 checkbox-icon">
              <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </label>
          <label for="<%= attribute.id %>" class="checkbox-label cursor-pointer ml-2 text-gray-500 dark:text-gray-400 peer-checked:text-gray-900 dark:peer-checked:text-gray-200">
            <%= attribute.name %>
          </label>
        </li>
      <% }) %>
    </ul>
    <menu class="flex gap-4">
      <button class="btn btn-secondary" autofocus value="cancel"><%= it.t("cancel", { ns: "common" })%></button>
      <button class="btn btn-primary" value="save"><%= it.t("save", { ns: "common" })%></button>
    </menu>
  </form>
</dialog>
<script type="module" async defer>
  import Dialog from "/public/js/dialog.js";
  let dialogs = document.querySelectorAll('dialog');

  let add_btn = document.querySelector(".js-add-btn");
  add_btn.onclick = () => {
    window.MiniDialog.showModal();

    window.MiniDialog.addEventListener("closed", (e) => {
      let dialog = e.target;
      if (dialog.returnValue === "save") {
        console.log("SAVE");
      } else {
        console.log("DISMISS");
      }
    }, { once: true });
  }

  dialogs.forEach(Dialog);
</script>
