<main class="max-w-7xl mx-auto my-20 px-4 xl:px-0">
  <div class="flex justify-between items-start">
    <h1 class="font-medium text-3xl text-gray-900 dark:text-white mb-12">Combinations</h1>
    <button class="btn btn-primary btn-lg" form="variations-form"><%= it.t("save_continue", { ns: "common" })%></button>
  </div>
  <form id="variations-form" method="post" action="?return_to=/listings/wizard/<%= it.listing.id %>?step=2">
    <table class="w-full rounded-lg shadow-sm">
      <thead class="text-left text-gray-500 text-sm dark:text-gray-200 js-thead">
        <tr class="border-b border-b-gray-200 dark:border-b-zinc-800">
          <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 min-w-[12rem]">
            SKU
          </th>
          <% it.headers.forEach(function (header) {%>
            <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 whitespace-nowrap w-full">
              <%= header %>
            </th>
          <% }) %>
          <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 w-10">
            <%= it.t("form.pricing.quantity", { ns: "new-listing" })%>
          </th>
          <th class="font-medium p-3 bg-gray-100 dark:bg-zinc-800 min-w-[20rem]">
            <%= it.t("form.pricing.price", { ns: "new-listing" })%>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm divide-y divide-gray-200 dark:divide-zinc-800 js-tbody">
        <% let variations_map = it.listing.temp_variations?.reduce((acc, curr) => { acc[curr.id] = curr; return acc; }, {})%>
        <% it.combos.forEach(function (combo, idx) { %>
          <tr>
            <input type="hidden" name="temp_variations[<%= idx %>].id" value="<%= combo.id %>" />
            <input type="hidden" name="temp_variations[<%= idx %>].currency" value="USD" />
            <td class="font-medium pl-0 p-3 text-gray-900 dark:text-white">
              <input type="text" class="form-control" name="temp_variations[<%= idx %>].custom_sku" value="<%= variations_map?.[combo.id]?.custom_sku ?? ""%>" />
            </td>
            <% combo.items.forEach(function (item) { %>
              <td class="font-medium p-3 text-gray-900 dark:text-white">
                <input type="hidden" name="temp_variations[<%= idx %>].attributes.<%= item.key %>" value="<%= item.value %>" />
                <%= item.value_label %>
              </td>
            <% }) %>
            <td class="font-medium p-3 text-gray-900 dark:text-white">
              <input type="number" name="temp_variations[<%= idx %>].quantity" class="form-control" value="<%= variations_map?.[combo.id]?.quantity ?? "1" %>" />
            </td>
            <td class="font-medium p-3 text-gray-900 dark:text-white">
              <div class="flex">
                <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
                <input type="number" value="<%= variations_map?.[combo.id]?.unit_price ?? "" %>" class="form-control !rounded-l-none" name="temp_variations[<%= idx %>].unit_price" inputmode="numeric" min="0" autocomplete="off" <%= it.selected_attributes?.length ? "disabled" : "required"%> /> </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </form>
</main>
