@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Base */
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  /* Zinc */
  --zinc-50: 250, 250, 250;
  --zinc-100: 244, 244, 245;
  --zinc-200: 228, 228, 231;
  --zinc-300: 212, 212, 216;
  --zinc-400: 161, 161, 170;
  --zinc-500: 113, 113, 122;
  --zinc-600: 82, 82, 91;
  --zinc-700: 63, 63, 70;
  --zinc-800: 39, 39, 42;
  --zinc-900: 24, 24, 27;

  /* Gray */
  --gray-25: 252, 252, 253;
  --gray-50: 249, 250, 251;
  --gray-100: 242, 244, 247;
  --gray-200: 234, 236, 240;
  --gray-300: 208, 213, 221;
  --gray-400: 152, 162, 179;
  --gray-500: 102, 112, 133;
  --gray-600: 71, 84, 103;
  --gray-700: 52, 64, 84;
  --gray-800: 29, 41, 57;
  --gray-900: 16, 24, 40;

  /* Primary */
  --primary-25: 245, 248, 255;
  --primary-50: 239, 244, 255;
  --primary-100: 209, 224, 255;
  --primary-200: 178, 204, 255;
  --primary-300: 132, 173, 255;
  --primary-400: 82, 139, 255;
  --primary-500: 41, 112, 255;
  /* --primary-600: 21, 94, 239; */
  --primary-600: 0, 112, 243;
  /* --primary-700: 0, 78, 235; */
  --primary-700: 0, 102, 233;
  --primary-800: 0, 64, 193;
  --primary-900: 0, 53, 158;

  /* Red */
  --error-25: 255, 251, 250;
  --error-50: 254, 243, 242;
  --error-300: 253, 162, 155;
  --error-400: 249, 112, 102;
  --error-500: 240, 68, 56;
  --error-600: 217, 45, 32;
  --error-700: 180, 35, 24;
  --error-800: 144, 32, 24;

  /* Green */
  --success-25: 246, 254, 249;
  --success-50: 236, 253, 243;
  --success-300: 108, 233, 166;
  --success-600: 3, 152, 85;
  --success-700: 2, 122, 72;

  /* Shadows */
  --shadow-xs: 0 1px 2px rgba(var(--gray-900), 0.05);
  --shadow-sm: 0 1px 3px rgba(var(--gray-900), 0.1),
    0 1px 2px rgba(var(--gray-900), 0.06);
  --shadow-md: 0 4px 8px -2px rgba(var(--gray-900), 0.1),
    0 2px 4px -2px rgba(var(--gray-900), 0.06);
  --shadow-lg: 0 12px 16px -4px rgba(var(--gray-900), 0.08),
    0 4px 6px -2px rgba(var(--gray-900), 0.03);
  --shadow-xl: 0 20px 24px -4px rgba(var(--gray-900), 0.08),
    0 8px 8px -4px rgba(var(--gray-900), 0.03);
  --shadow-2xl: 0 24px 48px -12px rgba(var(--gray-900), 0.18);
  --shadow-3xl: 0 32px 64px -12px rgba(var(--gray-900), 0.14);


  /* Default button */
  --color-btn-bg: var(--white);
  --color-btn-text: var(--gray-500);
  --color-btn-border: transparent;
  --color-btn-hover: var(--gray-50);
  --color-btn-text-hover: var(--gray-600);
  --color-btn-ring: transparent;
  --color-btn-ripple-bg: var(--gray-400);
  --shadow-btn: var(--shadow-xs);

  /* Primary button */
  --color-primary-btn-bg: var(--primary-600);
  --color-primary-btn-text: var(--white);
  --color-primary-btn-hover: var(--primary-700);
  --color-primary-btn-text-hover: var(--white);
  --color-primary-btn-ripple-bg: var(--white);
  --color-primary-btn-ring: var(--primary-100);
  --shadow-primary-btn: var(--shadow-xs);

  /* Secondary button */
  --color-secondary-btn-bg: var(--white);
  --color-secondary-btn-text: var(--gray-700);
  --color-secondary-btn-border: var(--gray-300);
  --color-secondary-btn-text-hover: var(--gray-800);
  --color-secondary-btn-ring: var(--gray-100);
  --color-secondary-btn-ripple-bg: var(--gray-400);
  --shadow-secondary-btn: var(--shadow-xs);

  /* Tertiary button color */
  --color-tertiary-cr-btn-bg: transparent;
  --color-tertiary-cr-btn-text: var(--gray-500);
  --color-tertiary-cr-btn-text-hover: var(--primary-700);
  --color-tertiary-cr-btn-hover: var(--primary-50);
  --color-tertiary-cr-btn-ring: var(--primary-100);
  --color-tertiary-cr-btn-ripple-bg: var(--primary-400);
  --shadow-tertiary-cr-btn: transparent;

  /* Tertiary button danger */
  --color-tertiary-danger-btn-bg: transparent;
  --color-tertiary-danger-btn-text: var(--error-700);
  --color-tertiary-danger-btn-hover: var(--error-50);
  --color-tertiary-danger-btn-text-hover: var(--error-800);
  --color-tertiary-danger-btn-ring: var(--error-50);
  --color-tertiary-danger-btn-ripple-bg: var(--error-400);
  --shadow-tertiary-danger-btn: transparent;

  /* Secondary button color */
  --color-secondary-cr-btn-bg: var(--primary-50);
  --color-secondary-cr-btn-text: var(--primary-700);
  --color-secondary-cr-btn-border: transparent;
  --color-secondary-cr-btn-hover: var(--primary-100);
  --color-secondary-cr-btn-text-hover: var(--primary-700);
  --color-secondary-cr-btn-ring: var(--primary-100);
  --color-secondary-cr-btn-ripple-bg: var(--primary-400);
  --shadow-secondary-cr-btn: var(shadow-xs);

  /* Form control */
  --color-form-control-placeholder: var(--gray-500);
  --color-form-control-text: var(--gray-900);
  --color-form-control-border: var(--gray-300);
  --color-form-control-bg: var(--white);
  --color-form-control-ring: var(--primary-100);
  --color-form-control-bg-disabled: var(--gray-50);
  --color-form-control-text-disabled: var(--gray-500);
  --color-form-control-border-focused: var(--primary-300);
  --shadow-form-control-focused: 0 0 0 4px rgb(var(--color-form-control-ring));
  --shadow-form-control: var(--shadow-xs);

  /* Badge */
  --color-badge-text: var(--gray-700);
  --color-badge-bg: var(--gray-100);

  /* Badge success */
  --color-success-badge-bg: var(--success-50);
  --color-success-badge-text: var(--success-700);
}


html.light {
  color-scheme: light;

 /* Default button */
  --color-btn-bg: var(--white);
  --color-btn-text: var(--gray-500);
  --color-btn-border: transparent;
  --color-btn-hover: var(--gray-50);
  --color-btn-text-hover: var(--gray-600);
  --color-btn-ring: transparent;
  --color-btn-ripple-bg: var(--gray-400);
  --shadow-btn: var(--shadow-xs);

  /* Primary button */
  --color-primary-btn-bg: var(--primary-600);
  --color-primary-btn-text: var(--white);
  --color-primary-btn-hover: var(--primary-700);
  --color-primary-btn-text-hover: var(--white);
  --color-primary-btn-ripple-bg: var(--white);
  --color-primary-btn-ring: var(--primary-100);
  --shadow-primary-btn: var(--shadow-xs);

  /* Secondary button */
  --color-secondary-btn-bg: var(--white);
  --color-secondary-btn-text: var(--gray-700);
  --color-secondary-btn-border: var(--gray-300);
  --color-secondary-btn-text-hover: var(--gray-800);
  --color-secondary-btn-ring: var(--gray-100);
  --color-secondary-btn-ripple-bg: var(--gray-400);
  --shadow-secondary-btn: var(--shadow-xs);

  /* Tertiary button color */
  --color-tertiary-cr-btn-bg: transparent;
  --color-tertiary-cr-btn-text: var(--gray-500);
  --color-tertiary-cr-btn-text-hover: var(--primary-700);
  --color-tertiary-cr-btn-hover: var(--primary-50);
  --color-tertiary-cr-btn-ring: var(--primary-100);
  --color-tertiary-cr-btn-ripple-bg: var(--primary-400);
  --shadow-tertiary-cr-btn: transparent;

  /* Tertiary button danger */
  --color-tertiary-danger-btn-bg: transparent;
  --color-tertiary-danger-btn-text: var(--error-700);
  --color-tertiary-danger-btn-hover: var(--error-50);
  --color-tertiary-danger-btn-text-hover: var(--error-800);
  --color-tertiary-danger-btn-ring: var(--error-50);
  --color-tertiary-danger-btn-ripple-bg: var(--error-400);
  --shadow-tertiary-danger-btn: transparent;

  /* Secondary button color */
  --color-secondary-cr-btn-bg: var(--primary-50);
  --color-secondary-cr-btn-text: var(--primary-700);
  --color-secondary-cr-btn-border: transparent;
  --color-secondary-cr-btn-hover: var(--primary-100);
  --color-secondary-cr-btn-text-hover: var(--primary-700);
  --color-secondary-cr-btn-ring: var(--primary-100);
  --color-secondary-cr-btn-ripple-bg: var(--primary-400);
  --shadow-secondary-cr-btn: var(shadow-xs);

  /* Form control */
  --color-form-control-placeholder: var(--gray-500);
  --color-form-control-text: var(--gray-900);
  --color-form-control-border: var(--gray-300);
  --color-form-control-bg: var(--white);
  --color-form-control-ring: var(--primary-100);
  --color-form-control-bg-disabled: var(--gray-50);
  --color-form-control-text-disabled: var(--gray-500);
  --color-form-control-border-focused: var(--primary-300);
  --shadow-form-control-focused: 0 0 0 4px rgb(var(--color-form-control-ring));
  --shadow-form-control: var(--shadow-xs);

  /* Badge */
  --color-badge-text: var(--gray-700);
  --color-badge-bg: var(--gray-100);

  /* Badge success */
  --color-success-badge-bg: var(--success-50);
  --color-success-badge-text: var(--success-700);
}

html.dark {
  color-scheme: dark;

  /* Primary button */
  --color-primary-btn-ring: var(--primary-400);

  /* Secondary button */
  --color-secondary-btn-bg: transparent;
  --color-secondary-btn-border: var(--zinc-700);
  --color-secondary-btn-text: var(--gray-300);
  --color-secondary-btn-hover: var(--zinc-800);
  --color-secondary-btn-text-hover: var(--white);
  --color-secondary-btn-ring: var(--zinc-800);
  --color-secondary-btn-ripple-bg: var(--zinc-400);


  /* Tertiary button color */
  --color-tertiary-cr-btn-text: var(--gray-300);
  --color-tertiary-cr-btn-hover: var(--zinc-800);
  --color-tertiary-cr-btn-ring: var(--zinc-800);
  --color-tertiary-cr-btn-ripple-bg: var(--zinc-600);

  /* Secondary button color */
  --color-secondary-cr-btn-bg: var(--zinc-800);
  --color-secondary-cr-btn-hover: var(--zinc-700);
  --color-secondary-cr-btn-ring: var(--zinc-800);
  --color-secondary-cr-btn-ripple-bg: var(--zinc-600);

  /* Tertiary button danger */
  --color-tertiary-danger-btn-hover: var(--zinc-800);
  --color-tertiary-danger-btn-text-hover: var(--error-600);
  --color-tertiary-danger-btn-ring: var(--zinc-800);

  /* Form control */
  --color-form-control-placeholder: var(--gray-400);
  --color-form-control-text: var(--white);
  --color-form-control-border: var(--zinc-800);
  --color-form-control-bg: var(--zinc-900);
  --color-form-control-ring: var(--zinc-800);
  --color-form-control-bg-disabled: var(--zinc-700);
  --color-form-control-border-focused: var(--zinc-600);

  /* Badge */
  --color-badge-text: var(--gray-300);
  --color-badge-bg: var(--zinc-800);

  /* Badge success */
  --color-success-badge-bg: var(--zinc-800);
  --color-success-badge-text: var(--success-600);
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

form:invalid .btn:not(.btn-enabled) {
  --events: none;
  --opacity: 0.7;
}

details[open] summary::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  cursor: default;
}

.btn {
  --text-color: var(--color-btn-text);
  --bg-color: var(--color-btn-bg);
  --size: 0.75rem 1.25rem;
  --border-color: var(--color-btn-border);
  --shadow: var(--shadow-btn);
  --bg-hover: var(--color-btn-hover);
  --text-hover: var(--color-btn-text-hover);
  --ring-color: var(--color-btn-ring);
  --ripple-bg: var(--color-btn-ripple-bg);
  --events: all;
  --opacity: 1;
  --font-size: 1rem;
  --align: center;
  --justify: center;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  padding: var(--size);
  border: 1px solid rgb(var(--border-color));
  box-shadow: var(--shadow);
  transition-duration: 200ms;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: var(--justify);
  align-items: var(--align);
  outline: none;
  pointer-events: var(--events);
  opacity: var(--opacity);
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--font-size);
  position: relative;
  overflow: hidden;
}

button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.btn:disabled {
  --events: none;
  --opacity: 0.7;
}

.btn:not(.no-hover):hover {
  --bg-color: var(--bg-hover);
  --text-color: var(--text-hover);
}

.btn:focus-visible {
  --shadow: 0 0 0 4px rgb(var(--ring-color));
}

.btn-left {
  --justify: flex-start;
}

.btn-primary {
  --text-color: var(--color-primary-btn-text);
  --bg-color: var(--color-primary-btn-bg);
  --shadow: var(--shadow-primary-btn);
  --bg-hover: var(--color-primary-btn-hover);
  --text-hover: var(--color-primary-btn-text-hover);
  --ring-color: var(--color-primary-btn-ring);
  --ripple-bg: var(--color-primary-btn-ripple-bg);
}

.btn-secondary {
  --text-color: var(--color-secondary-btn-text);
  --bg-color: var(--color-secondary-btn-bg);
  --border-color: var(--color-secondary-btn-border);
  --shadow: var(--shadow-secondary-btn);
  --text-hover: var(--color-secondary-btn-text-hover);
  --ring-color: var(--color-secondary-btn-ring);
  --ripple-bg: var(--color-secondary-btn-ripple-bg);
  --bg-hover: var(--color-secondary-btn-hover);
}

.btn-tertiary-color {
  --text-color: var(--color-tertiary-cr-btn-text);
  --bg-color: var(--color-tertiary-cr-btn-bg);
  --text-hover: var(--color-tertiary-cr-btn-text-hover);
  --bg-hover: var(--color-tertiary-cr-btn-hover);
  --ring-color: var(--color-tertiary-cr-btn-ring);
  --shadow: var(--shadow-tertiary-cr-btn);
  --ripple-bg: var(--color-tertiary-cr-btn-ripple-bg);
}

.btn-tertiary-danger {
  --text-color: var(--color-tertiary-danger-btn-text);
  --bg-color: var(--color-tertiary-danger-btn-bg);
  --bg-hover: var(--color-tertiary-danger-btn-hover);
  --text-hover: var(--color-tertiary-danger-btn-text-hover);
  --ring-color: var(--color-tertiary-danger-btn-ring);
  --shadow: var(--shadow-tertiary-danger-btn);
  --ripple-bg: var(--color-tertiary-danger-btn-ripple-bg);
}

.btn-secondary-color {
  --text-color: var(--color-secondary-cr-btn-text);
  --bg-color: var(--color-secondary-cr-btn-bg);
  --border-color: var(--color-secondary-cr-btn-border);
  --shadow: var(--shadow-secondary-cr-btn);
  --bg-hover: var(--color-secondary-cr-btn-hover);
  --text-hover: var(--color-secondary-cr-btn-text-hover);
  --ring-color: var(--color-secondary-cr-btn-ring);
  --ripple-bg: var(--color-secondary-cr-btn-ripple-bg);
}

.btn-xl {
  --size: 0.75rem 1.25rem;
}

.btn-lg {
  --size: 0.625rem 1.25rem;
}

.btn-md {
  --size: 0.625rem 1.25rem;
  --font-size: 0.875rem;
}

.form-control {
  --placeholder-color: var(--color-form-control-placeholder);
  --text-color: var(--color-form-control-text);
  --border-color: var(--color-form-control-border);
  --size: 0.625rem 0.875rem;
  --bg-color: var(--color-form-control-bg);
  --ring-color: var(--color-form-control-ring);
  --shadow: var(--shadow-form-control);
  background: rgb(var(--bg-color));
  border-radius: 0.5rem;
  padding: var(--size);
  color: rgb(var(--text-color));
  border: 1px solid rgb(var(--border-color));
  box-shadow: var(--shadow);
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  appearance: none;
  font-weight: 400;
}

.form-control:focus {
  --shadow: var(--shadow-form-control-focused);
  --border-color: var(--color-form-control-border-focused);
}

.form-control:disabled {
  --bg-color: var(--color-form-control-bg-disabled);
  --text-color: var(--color-form-control-text-disabled);
}

.form-control::placeholder {
  color: rgb(var(--placeholder-color));
}

.search-menu > li:hover ul {
  display: block;
}

.indicator {
  --bg-color: var(--white);
  --border-color: var(--white);
  --size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-radius: 50%;
  background: rgb(var(--bg-color));
  border: 2px solid rgb(var(--border-color));
  width: var(--size);
  height: var(--size);
}

.indicator-online {
  --bg-color: var(--success-600);
}

.indicator-offline {
  --bg-color: var(--gray-400);
}

.badge {
  --font-size: 0.75rem;
  --color: var(--color-badge-text);
  --bg-color: var(--color-badge-bg);
  --size: 0.125rem 0.5rem;
  font-weight: 500;
  color: rgb(var(--color));
  background-color: rgb(var(--bg-color));
  padding: var(--size);
  font-size: var(--font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.badge-md {
  --font-size: 0.875rem;
}

.badge-lg {
  --font-size: 0.875rem;
  --size: 0.25rem 0.75rem;
}

.badge-success {
  --bg-color: var(--color-success-badge-bg);
  --color: var(--color-success-badge-text);
}

.toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  inset-inline: 0;
  padding-block-end: 5vh;
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;
}

.toast-item {
  --bg-color: var(--gray-25);
  --border-color: var(--gray-300);
  --color: var(--gray-700);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid rgb(var(--border-color));
  background-color: rgb(var(--bg-color));
  display: flex;
  align-items: center;
  max-inline-size: min(50ch, 90vw);
  will-change: transform;
  animation: fade-in 300ms ease, slide-in 300ms ease, fade-out 300ms ease 3000ms;
  color: rgb(var(--color));
}

.toast-item-err {
  --bg-color: var(--error-25);
  --border-color: var(--error-300);
  --color: var(--error-700);
}

.toast-item-success {
  --bg-color: var(--success-25);
  --border-color: var(--success-300);
  --color: var(--success-700);
}

checkbox-control {
  transition: all 150ms ease-in;
  transition-delay: 100ms;
}

.checkbox-input:checked ~ .checkbox-control {
  border: 1px solid rgb(var(--primary-600));
  background-color: rgb(var(--primary-600));
  transition: background-color 100ms ease-out;
  transition-delay: 50ms;
}

.checkbox-input:checked + .checkbox-control .checkbox-icon {
  color: white;
}

.checkbox-icon path {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  transition: all 200ms linear;
}

.checkbox-input:checked + .checkbox-control .checkbox-icon path {
  stroke-dashoffset: 0;
  transition: all 200ms linear;
  transition-delay: 100ms;
}

.ripple {
  border-radius: 50%;
  background-color: rgba(var(--ripple-bg), 0.3);
  position: absolute;
  transform: scale(0);
  animation: ripple 800ms linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes check-offset {
  from {
    stroke-dashoffset: -24;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check-offset2 {
  to {
    stroke-dashoffset: 24;
  }
}


/* https://github.com/nzbin/three-dots/blob/master/dist/three-dots.css */
.dot-pulse {
  --size: 0.625rem;
  --bg-color: var(--white);
  --text-color: var(--white);
  --animation-duration: 1.5s;
  position: relative;
  left: -9999px;
  width: var(--size);
  height: var(--size);
  background-color: rgb(var(--bg-color));
  color: rgb(var(--bg-color));
  border-radius: 50%;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse var(--animation-duration) infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before var(--animation-duration) infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after var(--animation-duration) infinite linear;
  animation-delay: 0.5s;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@-webkit-keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@-webkit-keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(5vh);
  }
}

.toolbar-font-size {
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
}

/*
   @media (prefers-color-scheme: dark) {
   .btn-secondary {
   --bg-color: transparent;
   --border-color: var(--zinc-700);
   --text-color: var(--gray-300);
   --bg-hover: var(--zinc-800);
   --text-hover: var(--white);
   --ring-color: var(--zinc-800);
   }

   .btn-primary {
   --ring-color: var(--primary-400);
   }

   .btn-tertiary-color {
   --text-color: var(--gray-300);
   --bg-hover: var(--zinc-800);
   --ring-color: var(--zinc-800);
   --ripple-bg: var(--zinc-600);
   }

   .btn-secondary-color {
   --bg-color: var(--zinc-800);
   --bg-hover: var(--zinc-700);
   --ring-color: var(--zinc-800);
   --ripple-bg: var(--zinc-600);
   }

   .btn-tertiary-danger-btn {
   --bg-hover: var(--zinc-800);
   --text-hover: var(--error-600);
   --ring-color: var(--zinc-800);
   }

   .form-control {
   --bg-color: var(--bg-zinc-900);
   --text-color: var(--white);
   --placeholder-color: var(--gray-400);
   --border-color: var(--zinc-800);
   --ring-color: var(--zinc-800);
   }

   .badge {
   --bg-color: var(--zinc-800);
   --color: var(--gray-300);
   }
   .badge-success {
   --bg-color: var(--zinc-800);
   --color: var(--success-600);
   }

   .form-control:focus {
   --border-color: var(--zinc-600);
   }

   .form-control:disabled {
   --bg-color: var(--zinc-700);
   }

   .toast-item-err {
   --bg-color: var(--zinc-900);
   --border-color: var(--error-700);
   --color: var(--error-600);
   }

   .toast-item-success {
   --bg-color: var(--zinc-900);
   --border-color: var(--success-700);
   --color: var(--success-600);
   }
   } */



.hide-scroll {
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.animate-visibility {
  transition: transform .3s ease-in-out;
  will-change: transform;
}

.js-carousel-snap:not(.in-view) .animate-visibility {
  transform: scale(0.9);
}

/* .in-view {
   animation: carousel-snap-fade-in forwards;
   animation-duration: 2s;
   }

   .js-carousel-snap:not(.in-view) {
   transform: scale(0.9);
   }

   @keyframes carousel-snap-fade-in {
   from {
   transform: scale(0.9);
   }
   to {
   transfor: scale(1);
   }
   } */
