<form id="geo-query-form" action="/geo/predictions"></form>
<form method="post" class="max-w-3xl space-y-5 js-posting-step-3">
  <input type="hidden" name="location" class="js-location" value="<%= it.posting_data?.location ?? "" %>" />
  <div class="max-w-md w-full flex items-end js-location-input-container">
    <div class="relative w-full">
       <label class="text-sm font-medium text-gray-700 block">
        <%= it.t("form.location.label", { ns: "new-posting" }) %>
          <input form="geo-query-form" type="text" required minlength="2" value="<%= it.posting_data?.formatted_address ?? "" %>" autocomplete="off" class="form-control mt-2 js-geo-input" placeholder="<%= it.t("form.location.placeholder", { ns: "new-posting" }) %>" name="q" />
       </label>
      <ul class="absolute bg-white shadow-lg w-full rounded-lg border border-gray-100 mt-1 overflow-hidden max-h-60 overflow-y-auto -z-10 opacity-0 translate-y-2 duration-200 js-suggestions">
        <!-- <li>
             <input id="sd" type="radio" name="sd" value="23" class="absolute opacity-0 w-0 -z-10 peer" />
             <label for="sd" class="block p-2.5 hover:bg-gray-50 duration-200 peer-checked:bg-gray-50"> Mirzo-Ulugbek, Toshkent </label>
             </li>
             <li>
             <input id="ds" type="radio" name="sd" value="23" class="absolute opacity-0 w-0 -z-10 peer" />
             <label for="ds" class="block p-2.5 hover:bg-gray-50 duration-200 peer-checked:bg-gray-50"> Yashnabod, Toshkent </label>
             </li> -->
      </ul>
    </div>
    <button type="button" class="js-geo-trigger ml-2 text-gray-500 p-3 border border-transparent rounded-lg hover:text-gray-900 hover:border-gray-300 hover:shadow-xs hover:bg-gray-50 duration-200">
    <svg class="w-5 h-5 pointer-events-none" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.41345 10.7445C2.81811 10.513 2.52043 10.3972 2.43353 10.2304C2.35819 10.0858 2.35809 9.91354 2.43326 9.76886C2.51997 9.60195 2.8175 9.48584 3.41258 9.25361L20.3003 2.66327C20.8375 2.45364 21.1061 2.34883 21.2777 2.40616C21.4268 2.45596 21.5437 2.57292 21.5935 2.72197C21.6509 2.8936 21.5461 3.16219 21.3364 3.69937L14.7461 20.5871C14.5139 21.1822 14.3977 21.4797 14.2308 21.5664C14.0862 21.6416 13.9139 21.6415 13.7693 21.5662C13.6025 21.4793 13.4867 21.1816 13.2552 20.5862L10.6271 13.8282C10.5801 13.7074 10.5566 13.647 10.5203 13.5961C10.4881 13.551 10.4487 13.5115 10.4036 13.4794C10.3527 13.4431 10.2923 13.4196 10.1715 13.3726L3.41345 10.7445Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </button>
  </div>
  <% if (it.posting_data?.location) { %>
    <div id="map" class="h-72 w-full"> </div>
  <% } %>
  <label class="text-sm font-medium text-gray-700 inline-block max-w-md w-full">
    <%= it.t("form.phone.label", { ns: "new-posting" }) %> <input type="tel" autocomplete="tel" class="form-control mt-2"
                  placeholder="<%= it.t("form.phone.placeholder", { ns: "new-posting" }) %>" value="<%= it.posting_data?.phone ?? "" %>" name="phone"
    pattern="^(\+?998[0-9]{9})|(\w+@\w+\.\w{2,3})$" required />
  </label>
  <button class="btn btn-lg btn-primary mt-6">Далее</button>
</form>
<script src="/public/js/map.js" defer async type="module"></script>
</main>
