<ul class="flex items-center justify-between my-12">
  <li class="flex-1">
    <a href="/postings/new?step=1" class="flex flex-col group relative after:absolute after:w-full after:h-1 <%= it.step >= 2 ? "after:bg-primary-600" : "after:bg-gray-200" %> after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-[7px] bg-white w-6 h-6
                    rounded-full relative <%= it.step >= 1 ? "border-primary-600 after:border-primary-100" : "border-gray-100 after:border-transparent" %>
                    after:absolute after:w-8 after:h-8 after:block after:border-4
                    after:rounded-full after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2"></span>
      <div class="flex flex-col mt-3 text-sm">
        <span class="font-medium <%= it.step === 1 ? "text-primary-700" : "text-gray-700"%>"><%= it.t("steps.first.title", { ns: "new-posting" }) %></span>
        <span class="<%= it.step === 1 ? "text-primary-600" : "text-gray-500"%>"><%= it.t("steps.first.description", { ns: "new-posting" }) %></span>
      </div>
    </a>
  </li>
  <li class="flex-1">
    <a href="/postings/new?step=2" class="flex flex-col group relative after:absolute after:w-full after:h-1 <%= it.step >= 3 ? "after:bg-primary-600" : "after:bg-gray-200" %> after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-[7px] bg-white w-6 h-6
                    rounded-full relative <%= it.step >= 2 ? "border-primary-600 after:border-primary-100" : "border-gray-100 after:border-transparent" %>
                    after:absolute after:w-8 after:h-8 after:block after:border-4
                    after:rounded-full after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2"></span>
      <div class="flex flex-col mt-3 text-sm">
        <span class="font-medium <%= it.step === 2 ? "text-primary-700" : "text-gray-700"%>"><%= it.t("steps.second.title", { ns: "new-posting" }) %></span>
        <span class="<%= it.step === 2 ? "text-primary-600" : "text-gray-500"%>"><%= it.t("steps.second.description", { ns: "new-posting" }) %></span>
      </div>
    </a>
  </li>
  <li class="flex-1">
    <a href="/postings/new?step=3" class="flex flex-col group relative after:absolute after:w-full after:h-1 <%= it.step >= 4 ? "after:bg-primary-600" : "after:bg-gray-200" %> after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-[7px] bg-white w-6 h-6
                    rounded-full relative <%= it.step >= 3 ? "border-primary-600 after:border-primary-100" : "border-gray-100 after:border-transparent" %>
                    after:absolute after:w-8 after:h-8 after:block after:border-4
                    after:rounded-full after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2"></span>
      <div class="flex flex-col mt-3 text-sm">
        <span class="font-medium <%= it.step === 3 ? "text-primary-700" : "text-gray-700"%>"><%= it.t("steps.third.title", { ns: "new-posting" }) %></span>
        <span class="<%= it.step === 3 ? "text-primary-600" : "text-gray-500"%>"><%= it.t("steps.third.description", { ns: "new-posting" }) %></span>
      </div>
    </a>
  </li>
  <li class="flex-1">
    <a href="/postings/new?step=4" class="flex flex-col group relative after:absolute after:w-full after:h-1 <%= it.step >= 5 ? "after:bg-primary-600" : "after:bg-gray-200" %> after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-[7px] bg-white w-6 h-6
                    rounded-full relative <%= it.step >= 4 ? "border-primary-600 after:border-primary-100" : "border-gray-100 after:border-transparent" %>
                    after:absolute after:w-8 after:h-8 after:block after:border-4
                    after:rounded-full after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2"></span>
      <div class="flex flex-col mt-3 text-sm">
        <span class="font-medium <%= it.step === 4 ? "text-primary-700" : "text-gray-700"%>"><%= it.t("steps.fourth.title", { ns: "new-posting" }) %></span>
        <span class="<%= it.step === 4 ? "text-primary-600" : "text-gray-500"%>"><%= it.t("steps.fourth.description", { ns: "new-posting" }) %></span>
      </div>
    </a>
  </li>
</ul>
