<form method="post" class="max-w-md">
  <input type="hidden" name="step" value="1" />
  <label class="text-sm font-medium text-gray-700 block">
    <%= it.t("form.title.label", { ns: "new-posting" }) %>
    <input type="text" value="<%= it.posting_data?.title ?? "" %>" autocomplete="off" class="form-control mt-2" placeholder="<%= it.t("form.title.placeholder", { ns: "new-posting" }) %>" name="title" />
    <small class="text-error-500 mt-1 text-sm block"><%= it.flash.validation_errors?.[0]?.title ?? "" %></small>
  </label>
  <span class="font-normal text-gray-500 text-sm block mt-1.5"><%= it.t("form.title.hint", { ns: "new-posting"}) %></span>
  <label class="text-sm font-medium text-gray-700 block mt-5">
    <%= it.t("form.category.label", { ns: "new-posting" }) %>
    <div class="relative mt-2">
    <select name="category_id" class="form-control" required>
      <option disabled selected value=""> <%= it.t("form.category.placeholder", { ns: "new-posting" }) %> </option>
      <option disabled>&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;</option>
      <% it.categories.forEach(function render (category, i, a, depth = 0) { %>
        <optgroup label="<%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= category.title %>" class="ml-2">
          <% category.children.forEach(function (child, i, a) { %>
            <% if (child.children?.length) { %>
              <% render (child, i, a, depth + 1) %>
            <% } else {%>
              <option <%= it.posting_data?.category_id === String(child.id) ? "selected" : "" %> value="<%= child.id %>"><%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= child.title %></option>
            <% } %>
          <% }) %>
        </optgroup>
      <% }) %>
    </select>
    <svg
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
    >
        <path
        d="m6 9 6 6 6-6"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        />
    </svg>
    </div>
  </label>
  <button class="btn btn-lg btn-primary mt-6">Далее</button>
</form>
