<main class="max-w-7xl mx-auto my-20">
  <h1 class="font-medium text-3xl">Создать объявление</h1>
  <hr class="bg-gray-200 w-full mt-5 mb-8" />
  <ul class="flex items-center justify-between">
    <li class="flex flex-col group flex-1 relative after:absolute after:w-full after:h-1 after:bg-primary-600 after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-4 bg-white border-primary-600 w-6 h-6 rounded-full group-first:self-start"></span>
      <div class="flex flex-col mt-3 group-last:text-right">
        <span class="font-medium text-sm text-primary-700">Важное</span>
        <span class="text-sm text-primary-600">Название и категория</span>
      </div>
    </li>
    <li class="flex flex-col group flex-1 relative after:absolute after:w-full after:h-1 after:bg-gray-200 after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-4 bg-white border-gray-100 w-6 h-6 rounded-full group-first:self-start"></span>
      <div class="flex flex-col mt-3 group-last:text-right">
        <span class="font-medium text-sm text-gray-700">Общее</span>
        <span class="text-sm text-gray-500">Общие сведения</span>
      </div>
    </li>
    <li class="flex flex-col group flex-1 relative after:absolute after:w-full after:h-1 after:bg-gray-200 after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-4 bg-white border-gray-100 w-6 h-6 rounded-full group-first:self-start"></span>
      <div class="flex flex-col mt-3 group-last:text-right">
        <span class="font-medium text-sm text-gray-700">Контакты</span>
        <span class="text-sm text-gray-500">Как связаться</span>
      </div>
    </li>
    <li class="flex flex-col group flex-1 relative after:absolute after:w-full after:h-1 after:bg-gray-200 after:top-3 after:-translate-y-1/2 after:-z-10">
      <span class="border-4 bg-white border-gray-100 w-6 h-6 rounded-full group-first:self-start"></span>
      <div class="flex flex-col mt-3 group-last:text-right">
        <span class="font-medium text-sm text-gray-700">Предпосмотр</span>
        <span class="text-sm text-gray-500">Как будет выглядет объвление</span>
      </div>
    </li>
  </ul>
</main>
