<section>
  <input type="hidden" name="currency" form="listing-form" value="USD" />
  <% let groups = it.listing.discounts?.reduce((acc, curr) => { acc[curr.min_qty_value] = curr; return acc; }, {}) || {} %>
  <h2 class="font-semibold mb-4 uppercase"><%= it.t("form.pricing.heading", { ns: "new-listing" })%></h2>
  <div class="grid grid-cols-12 gap-4 <%= it.selected_attributes?.length ? '' : ''%>">
    <div class="col-span-3">
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200">
        <%= it.t("form.pricing.quantity", { ns: "new-listing" }) %>
        <input form="listing-form" type="number" class="form-control mt-2" value="<%= it.variants?.[0]?.quantity %>" name="quantity" <%= it.selected_attributes?.length ? "disabled" : "required"%> />
      </label>
    </div>
    <div class="col-span-5">
      <span class="text-sm font-medium text-gray-700 relative dark:text-gray-200">
        <%= it.t("form.pricing.price", { ns: "new-listing" }) %>
      </span>
      <div class="flex mt-2">
        <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
        <input form="listing-form" type="number" value="<%= it.variants?.[0]?.unit_price ?? "" %>" class="form-control !rounded-l-none" name="unit_price" inputmode="numeric" min="0" autocomplete="off" <%= it.selected_attributes?.length ? "disabled" : "required"%> />
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between py-6 px-4 rounded-lg border border-gray-200 dark:border-zinc-800 mt-4">
    <input form="listing-form" type="checkbox" name="best_offer_enabled" id="best-offer-enabled" class="checkbox-input appearance-none peer" <%= it.listing?.policy.best_offer_enabled ? "checked" : "" %>/>
    <div class="flex justify-between items-start w-full group">
      <div class="w-full">
        <label for="best-offer-enabled" class="font-semibold"><%= it.t("form.pricing.allow_offers", { ns: "new-listing" })%></label>
        <p class="text-sm"><%= it.t("form.pricing.allow_offers_description", { ns: "new-listing" })%></p>
      </div>
      <label for="best-offer-enabled" class="checkbox-control cursor-pointer border border-gray-300 dark:border-zinc-600 rounded p-px
            ring-offset-white dark:ring-offset-zinc-900 peer-focus:group-[]:ring-2 peer-focus:group-[]:ring-primary-600 peer-focus:group-[]:ring-offset-2">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 checkbox-icon">
          <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </label>
    </div>
    <div class="grid-cols-12 mt-4 gap-4 hidden peer-checked:grid">
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200 col-span-4">
        <%= it.t("form.pricing.minimum", { ns: "new-listing" }) %>
        <div class="flex mt-2">
          <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
          <input form="listing-form" type="number" class="form-control !rounded-l-none" value="1" name="best_offer_minimum" inputmode="numeric" min="1" autocomplete="off" required />
        </div>
      </label>
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200 col-span-4">
        <%= it.t("form.pricing.auto_accept", { ns: "new-listing" }) %>
        <div class="flex mt-2">
          <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
          <input form="listing-form" type="number" class="form-control !rounded-l-none" value="1" name="best_offer_accept" inputmode="numeric" min="1" autocomplete="off" required />
        </div>
      </label>
    </div>
  </div>
  <div class="flex flex-col py-6 px-4 rounded-lg border border-gray-200 dark:border-zinc-800 mt-4">
    <input form="listing-form" type="checkbox" name="volume_pricing_enabled" id="volume-pricing-enabled" class="checkbox-input appearance-none peer" />
    <div class="flex justify-between items-start w-full group">
      <div class="w-full">
        <label for="volume-pricing-enabled" class="font-semibold"><%= it.t("form.pricing.volume_pricing", { ns: "new-listing" }) %></label>
        <p class="text-sm"><%= it.t("form.pricing.volume_pricing_description", { ns: "new-listing" }) %></p>
      </div>
      <label for="volume-pricing-enabled" class="checkbox-control cursor-pointer border border-gray-300 dark:border-zinc-600 rounded p-px
            ring-offset-white dark:ring-offset-zinc-900 peer-focus:group-[]:ring-2 peer-focus:group-[]:ring-primary-600 peer-focus:group-[]:ring-offset-2">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 checkbox-icon">
          <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </label>
    </div>
    <div class="grid-cols-12 mt-4 gap-4 hidden peer-checked:grid">
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200 col-span-3">
        Buy 2 and save
        <div class="relative">
          <input type="hidden" name="discount_rules.0.specification.min_quantity" value="2" form="listing-form" />
          <input type="hidden" name="discount_rules.0.benefit.unit" value="PERCENTAGE" form="listing-form" />
          <select class="form-control mt-2 block" name="discount_rules.0.benefit.value" form="listing-form">
            <% for (let i = 1; i <= 80; i++) {%>
            <option <%= groups["2"]?.value === String(i) ? "selected" : "" %> value="<%= i %>"><%= i %>%</option>
            <% } %>
          </select>
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
          >
            <path
              d="m6 9 6 6 6-6"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </label>
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200 col-span-3">
        Buy 3 and save
        <div class="relative">
          <input type="hidden" name="discount_rules.1.specification.min_quantity" value="3" form="listing-form" />
          <input type="hidden" name="discount_rules.1.benefit.unit" value="PERCENTAGE" form="listing-form" />
          <select class="form-control mt-2 block" name="discount_rules.1.benefit.value" form="listing-form">
            <% for (let i = 1; i <= 80; i++) {%>
            <option <%= groups["3"]?.value === String(i) ? "selected" : "" %> value="<%= i %>"><%= i %>%</option>
            <% } %>
          </select>
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
          >
            <path
              d="m6 9 6 6 6-6"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </label>
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200 col-span-3">
        Buy 4 and save
        <div class="relative">
          <input type="hidden" name="discount_rules.2.specification.min_quantity" value="4" form="listing-form" />
          <input type="hidden" name="discount_rules.2.benefit.unit" value="PERCENTAGE" form="listing-form" />
          <select class="form-control mt-2 block" name="discount_rules.2.benefit.value" form="listing-form">
            <% for (let i = 1; i <= 80; i++) {%>
            <option <%= groups["4"]?.value === String(i) ? "selected" : "" %> value="<%= i %>"><%= i %>%</option>
            <% } %>
          </select>
          <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
          >
            <path
              d="m6 9 6 6 6-6"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </label>
    </div>
  </div>
</section>
