<section>
  <h2 class="font-semibold mb-4 uppercase"><%= it.t("form.shipping.heading", { ns: "new-listing" })%></h2>
  <span class="text-sm block font-medium text-gray-700 dark:text-gray-200">
    <%= it.t("form.shipping.method", { ns: "new-listing" }) %>
  </span>
  <div class="flex items-center flex-wrap mt-2">
    <input type="radio" id="shipping-standard" name="shipping_method" class="appearance-none outline-none ring-offset-white dark:ring-offset-zinc-900 focus:ring-2 focus:ring-primary-600 focus:ring-offset-2
                          bg-white dark:bg-zinc-900 m-0 relative
                          font-inherit w-4 h-4 border border-gray-300 dark:border-zinc-500 rounded-full checked:border-[5px]
                          checked:before:scale-100 checked:border-primary-600 dark:checked:border-primary-600 duration-200 -mr-8 ml-2 peer/standard">
    <label for="shipping-standard" class="border dark:border-zinc-800 p-2 rounded-md pl-8 cursor-pointer ml-2 text-gray-500 dark:text-gray-400 peer-checked/standard:dark:border-zinc-600 peer-checked/standard:text-gray-900 dark:peer-checked/standard:text-white">
      <%= it.t("form.shipping.standard", { ns: "new-listing" }) %>
    </label>
    <input type="radio" id="shipping-pickup" name="shipping_method" class="ml-4 appearance-none outline-none ring-offset-white dark:ring-offset-zinc-900 focus:ring-2 focus:ring-primary-600 focus:ring-offset-2
                          bg-white dark:bg-zinc-900 m-0 relative
                          font-inherit w-4 h-4 border border-gray-300 dark:border-zinc-500 rounded-full checked:border-[5px]
                          checked:before:scale-100 checked:border-primary-600 dark:checked:border-primary-600 duration-200 peer/pickup">
    <label for="shipping-pickup" class="border dark:border-zinc-800 p-2 rounded-md pl-8 -ml-6 cursor-pointer text-gray-500 dark:text-gray-400 peer-checked/pickup:dark:border-zinc-600 peer-checked/pickup:text-gray-900 dark:peer-checked/pickup:text-white">
      <%= it.t("form.shipping.pickup", { ns: "new-listing" }) %>
    </label>
    <div class="gap-4 mt-4 flex-col hidden peer-checked/standard:flex">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-2">
          <label class="text-sm font-medium text-gray-700 dark:text-gray-200">
            <%= it.t("form.shipping.pkg_weight", { ns: "new-listing" })%>
            <div class="relative mt-2">
              <input type="text" inputmode="numeric" class="form-control" name="pkg_weight" required />
              <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_weight_unit", { ns: "new-listing" })%></span>
            </div>
          </label>
        </div>
        <div class="col-span-6">
          <span class="text-sm font-medium text-gray-700 dark:text-gray-200">
            <%= it.t("form.shipping.pkg_dimensions", { ns: "new-listing" })%>
          </span>
          <div class="flex items-center mt-2 gap-2">
            <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
              <input type="text" inputmode="numeric" class="form-control !pr-10" name="dimensions.length" required />
              <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
            </label>
            &times;
            <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
              <input type="text" inputmode="numeric" class="form-control !pr-10" name="dimensions.width" required />
              <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
            </label>
            &times;
            <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
              <input type="text" inputmode="numeric" class="form-control !pr-10" name="dimensions.height" required />
              <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
            </label>
          </div>
        </div>
      </div>
      <div>
        <span class="text-sm block font-medium text-gray-700 dark:text-gray-200">
          <%= it.t("form.shipping.cost_type", { ns: "new-listing" }) %>
        </span>
        <div class="flex items-center flex-wrap mt-2">
          <input type="radio" id="cost-calculated" name="cost_type_id" class="appearance-none outline-none ring-offset-white dark:ring-offset-zinc-900 focus:ring-2 focus:ring-primary-600 focus:ring-offset-2
                                bg-white dark:bg-zinc-900 m-0 relative
                                font-inherit w-4 h-4 border border-gray-300 dark:border-zinc-500 rounded-full checked:border-[5px]
                                checked:before:scale-100 checked:border-primary-600 dark:checked:border-primary-600 duration-200 -mr-8 ml-2 peer/calculated" checked >
          <label for="cost-calculated" class="border dark:border-zinc-800 p-2 rounded-md pl-8 cursor-pointer ml-2 text-gray-500 dark:text-gray-400 peer-checked/calculated:dark:border-zinc-600 peer-checked/calculated:text-gray-900 dark:peer-checked/calculated:text-white">
            <%= it.t("form.shipping.cost_calculated", { ns: "new-listing" }) %>
          </label>
          <input type="radio" id="cost-flat" name="cost_type_id" class="ml-4 appearance-none outline-none ring-offset-white dark:ring-offset-zinc-900 focus:ring-2 focus:ring-primary-600 focus:ring-offset-2
                                bg-white dark:bg-zinc-900 m-0 relative
                                font-inherit w-4 h-4 border border-gray-300 dark:border-zinc-500 rounded-full checked:border-[5px]
                                checked:before:scale-100 checked:border-primary-600 dark:checked:border-primary-600 duration-200 peer/flat">
          <label for="cost-flat" class="border dark:border-zinc-800 p-2 rounded-md pl-8 -ml-6 cursor-pointer text-gray-500 dark:text-gray-400 peer-checked/flat:dark:border-zinc-600 peer-checked/flat:text-gray-900 dark:peer-checked/flat:text-white">
            <%= it.t("form.shipping.cost_flat", { ns: "new-listing" }) %>
          </label>
          <div class="gap-4 mt-4 w-full hidden peer-checked/calculated:flex">
            <ul class="flex flex-col w-full">
              <% it.shipping_services.forEach(function (service) {%>
                <li class="px-4 py-6 rounded-lg border border-gray-200 dark:border-zinc-800 flex items-start justify-between">
                  <div class="flex gap-4">
                    <img class="w-24 object-contain" src="<%= service.logo_data_url %>"/>
                    <div class="flex flex-col">
                      <span class="text-gray-900 dark:text-white"><%= service.name %></span>
                      <span class="text-gray-600 dark:text-gray-400 text-sm"><%= service.description %></span>
                    </div>
                  </div>
                  <div class="flex flex-col gap-3 max-w-xs w-full">
                    <div class="flex flex-col gap-2">
                      <span class="text-sm font-medium text-gray-700 relative dark:text-gray-200">
                        <%= it.t("form.shipping.buyer_pays", { ns: "new-listing" }) %>
                      </span>
                      <span>
                        $10
                      </span>
                    </div>
                  </div>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="gap-4 mt-4 w-full hidden peer-checked/flat:flex">
            <ul class="flex flex-col w-full">
              <% it.shipping_services.forEach(function (service) {%>
                <li class="px-4 py-6 rounded-lg border border-gray-200 dark:border-zinc-800 flex items-start justify-between">
                  <div class="flex gap-4">
                    <img class="w-24 object-contain" src="<%= service.logo_data_url %>"/>
                    <div class="flex flex-col">
                      <span class="text-gray-900 dark:text-white"><%= service.name %></span>
                      <span class="text-gray-600 dark:text-gray-400 text-sm"><%= service.description %></span>
                    </div>
                  </div>
                  <div class="flex flex-col gap-3 max-w-xs w-full">
                    <div>
                      <span class="text-sm font-medium text-gray-700 relative dark:text-gray-200">
                        <%= it.t("form.shipping.buyer_pays", { ns: "new-listing" }) %>
                      </span>
                      <div class="flex mt-2">
                        <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
                        <input form="listing-form" type="number" value="<%= it.variants?.[0]?.unit_price ?? "" %>" class="form-control !rounded-l-none" name="unit_price" inputmode="numeric" min="0" autocomplete="off" <%= it.selected_attributes?.length ? "disabled" : "required"%> />
                      </div>
                    </div>
                    <div>
                      <span class="text-sm font-medium text-gray-700 relative dark:text-gray-200">
                        <%= it.t("form.shipping.each_additional_cost", { ns: "new-listing" }) %>
                      </span>
                      <div class="flex mt-2">
                        <span class="border-l border-t border-b border-gray-300 py-2.5 px-3.5 text-gray-500 rounded-l-lg dark:border-zinc-800 dark:text-gray-400">$</span>
                        <input form="listing-form" type="number" value="<%= it.variants?.[0]?.unit_price ?? "" %>" class="form-control !rounded-l-none" name="unit_price" inputmode="numeric" min="0" autocomplete="off" <%= it.selected_attributes?.length ? "disabled" : "required"%> />
                      </div>
                    </div>
                  </div>
                </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
