<section>
  <h2 class="font-semibold mb-4"><%= it.t("form.shipping.heading", { ns: "new-listing" })%></h2>
  <label class="text-sm font-medium text-gray-700 dark:text-gray-200">
    <%= it.t("form.shipping.method", { ns: "new-listing" })%>
    <div class="relative max-w-xs">
      <select class="form-control mt-2 block" name="shipping_method">
        <option><%= it.t("form.shipping.standard", { ns: "new-listing" })%></option>
        <option><%= it.t("form.shipping.pickup", { ns: "new-listing" })%></option>
      </select>
      <svg
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
      >
          <path
          d="m6 9 6 6 6-6"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          />
      </svg>
    </div>
  </label>
  <div class="grid grid-cols-12 gap-4 mt-4">
    <div class="col-span-2">
      <label class="text-sm font-medium text-gray-700 dark:text-gray-200">
        <%= it.t("form.shipping.pkg_weight", { ns: "new-listing" })%>
        <div class="relative mt-2">
          <input type="text" inputmode="numeric" class="form-control" placeholder="1" name="pkg_weight" required />
          <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_weight_unit", { ns: "new-listing" })%></span>
        </div>
      </label>
    </div>
    <div class="col-span-6">
      <span class="text-sm font-medium text-gray-700 dark:text-gray-200">
        <%= it.t("form.shipping.pkg_dimensions", { ns: "new-listing" })%>
      </span>
      <div class="flex items-center mt-2 gap-2">
        <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
          <input type="text" inputmode="numeric" class="form-control !pr-10" placeholder="1" name="dimensions.length" required />
          <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
        </label>
        &times;
        <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
          <input type="text" inputmode="numeric" class="form-control !pr-10" placeholder="1" name="dimensions.width" required />
          <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
        </label>
        &times;
        <label class="text-sm font-medium text-gray-700 dark:text-gray-200 relative">
          <input type="text" inputmode="numeric" class="form-control !pr-10" placeholder="1" name="dimensions.height" required />
          <span class="absolute top-1/2 -translate-y-1/2 right-2 text-gray-500 pointer-events-none"><%= it.t("form.shipping.pkg_dimensions_unit", { ns: "new-listing" })%></span>
        </label>
      </div>
    </div>
  </div>
</section>
