<% it.listing?.attachments?.forEach(function (photo, i) { %>
  <form class="js-preview-delete-form" action="/listings/wizard/<%= it.listing.id %>/<%= it.step %>/attachments/<%= photo.id %>?return_to=/listings/wizard/<%= it.listing.id %>/<%= it.step %>" method="POST" id="form-<%= photo.id %>">
    <input type="hidden" name="photo_id" value="<%= photo.id %>" />
  </form>
<% }) %>
<form method="post" action="/api/attachments" class="js-attachment-create-form"></form>
<form method="post" action="/api/listings/<%= it.listing.id %>/attachments" class="js-attachment-sync-form"></form>
<form method="post" id="upload-form" enctype="multipart/form-data" action="/listings/wizard/<%= it.listing.id %>/<%= it.step %>/attachments?return_to=/listings/wizard/<%= it.listing.id %>/<%= it.step %>"></form>
<div class="max-w-3xl space-y-6">
  <%~ await includeAsync ("./photos.html", it) %>
  <%~ await includeAsync ("./specs.html", it) %>
  <section>
    <h2 class="font-semibold mb-4"><%= it.t("form.description.heading", { ns: "new-listing" })%></h2>
    <elastic-textarea>
      <textarea form="listing-form" name="description" placeholder="<%= it.t("form.description.placeholder", { ns: "new-listing" }) %>" rows="5" minlength="80" class="form-control" required><%= it.listing?.description ?? ""%></textarea>
      <% if (it.flash?.validation_errors?.[0]?.description) { %>
        <small class="text-error-500 mt-1 text-sm block"><%= it.flash.validation_errors[0].description %></small>
      <% } %>
    </elastic-textarea>
  </section>
  <%~ await includeAsync ("./pricing.html", it) %>
  <%~ await includeAsync ("./shipping.html", it) %>
</div>
<form method="post" class="max-w-3xl js-listing-form" id="listing-form">
  <input type="hidden" name="discounts.1.unit" value="PERCENTAGE">
  <input type="hidden" name="discounts.2.unit" value="PERCENTAGE">
  <input type="hidden" name="discounts.3.unit" value="PERCENTAGE">
  <input type="hidden" name="discounts.1.min_qty_value" value="2">
  <input type="hidden" name="discounts.2.min_qty_value" value="3">
  <input type="hidden" name="discounts.3.min_qty_value" value="4">
  <input type="hidden" name="step" value="2" />
  <% if (it.listing?.attachments?.length) { %>
    <% it.listing.attachments.forEach(function (photo) { %>
      <input type="hidden" name="photos" value="<%= photo.id %>" id="photos-<%= photo.id %>" />
    <% })%>
  <% } %>
  <% if (it.listing?.title) { %>
    <input type="hidden" name="title" value="<%= it.listing.title %>" />
  <% } %>
  <% if (it.listing?.category_id) { %>
    <input type="hidden" name="category_id" value="<%= it.listing.category_id %>" />
  <% } %>
  <button class="btn btn-lg btn-primary mt-8 btn-enabled">Далее</button>
</form>
</main>
<script defer async type="module" src="/public/js/elastic-textarea.js"></script>
<script type="module" defer async>
import { Uploader } from "/public/js/new-listing-step-2.js";
let listing = `<%~ JSON.stringify({ id: it.listing.id }) %>`;
Uploader.from(JSON.parse(listing));
document.title = "<%= it.t("title", { ns: "new-listing" })%> | Needs"
</script>
