<div>
  <details class="group no-overlay" open>
    <summary class="bg-gray-100 p-4 flex rounded-t-md rounded-b-md justify-between items-center cursor-pointer dark:bg-zinc-800 group-open:rounded-b-none">
      <span class="font-medium">Attributes</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 duration-200 group-open:rotate-90">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </summary>
    <div class="p-4 border-x border-b border-b-gray-200 border-x-gray-200 dark:border-x-zinc-800 dark:border-b-zinc-800 rounded-b-md js-attributes flex flex-col gap-4">
      <button class="btn btn-primary btn-md js-add-btn self-start">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
        </svg>
        Add more
      </button>
    </div>
  </details>
  <details class="group no-overlay mt-8">
    <summary class="bg-gray-100 p-4 flex rounded-t-md rounded-b-md justify-between items-center cursor-pointer dark:bg-zinc-800 group-open:rounded-b-none">
      <span class="font-medium">SKUs</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 duration-200 group-open:rotate-90">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </summary>
    <div class="p-4 border-x border-b border-b-gray-200 border-x-gray-200 dark:border-x-zinc-800 dark:border-b-zinc-800 rounded-b-md js-attributes flex flex-col gap-4">
    </div>
  </details>
</div>
<script type="module" async defer>
let attributes = `<%~ JSON.stringify(it.attributes) %>`;
import { Wizard } from "/public/js/variations-wizard.js";
Wizard.from(JSON.parse(attributes));
</script>
