<ul class="flex-col space-y-2 <%= !it.tab_active ? "" : "hidden lg:flex" %> lg:max-w-[14rem] w-full">
  <li>
    <a
      class="btn btn-md btn-left <%= it.tab_active?.('/myp/overview') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
      href="/myp/overview"
      ><%= it.t("tabs.overview", { ns: "profile" })%></a>
  </li>
  <li>
    <a
      class="btn btn-md btn-left <%= it.tab_active?.('/myp/rv') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
      href="/myp/rv"
      ><%= it.t("tabs.recently_viewed", { ns: "profile" })%></a>
  </li>
  <li>
    <a
      class="btn btn-md btn-left <%= it.tab_active?.('/myp/watchlist') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
      href="/myp/watchlist"
      ><%= it.t("tabs.watchlist", { ns: "profile" })%></a>
  </li>
  <li>
    <a
      class="btn btn-md btn-left <%= it.tab_active?.('/myp/purchases') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
      href="/myp/purchases"
      ><%= it.t("tabs.purchases", { ns: "profile" })%></a>
  </li>
  <li>
    <details class="group no-overlay" <%= it.tab_active?.("/mys") ? "open" : ""%>>
      <summary class="btn btn-md btn-left btn-tertiary-color no-hover">
        <%= it.t("tabs.selling", { ns: "profile" })%>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-auto -mr-2 duration-200 group-open:-rotate-180">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </summary>
      <ul class="mt-2 ml-4">
        <li>
          <a
            class="btn btn-md btn-left <%= it.tab_active?.("/mys/overview") ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
            href="/mys/overview"
            ><%= it.t("tabs.selling_overview", { ns: "profile" })%></a>
        </li>
        <li>
          <a
            class="btn btn-md btn-left btn-tertiary-color %>"
            href="/listings/wizard"
            ><%= it.t("tabs.selling_sell", { ns: "profile" })%></a>
        </li>
        <li>
          <a
            class="btn btn-md btn-left <%= it.tab_active?.('/mys?status=ACTIVE') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
            href="/mys?status=ACTIVE"
            ><%= it.t("tabs.selling_active", { ns: "profile" })%></a>
        </li>
        <li>
          <a
            class="btn btn-md btn-left <%= it.tab_active?.('/mys?status=IN_MODERATION') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
            href="/mys?status=IN_MODERATION"
            ><%= it.t("tabs.selling_moderation", { ns: "profile" })%></a>
        </li>
        <li>
          <a
            class="btn btn-md btn-left <%= it.tab_active?.('/mys?status=ARCHIVED') ? 'btn-secondary-color no-hover' : 'btn-tertiary-color'%>"
            href="/mys?status=ARCHIVED"
            ><%= it.t("tabs.selling_archived", { ns: "profile" })%></a>
        </li>
      </ul>
    </details>
  </li>
</ul>
<% if (!it.tab_active) { %>
</div>
</div>
</main>
<% } %>
