<div class="md:hidden">
  <form action="/search">
    <div class="flex relative">
      <input type="search" name="q" class="form-control !pr-16" placeholder="Search for anything" value="<%= it.q ?? "" %>"/>
      <button class="btn btn-primary btn-md !absolute top-1/2 right-0.5 -translate-y-1/2">
        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 21L15.0001 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </form>
  <div class="flex justify-end mt-5">
    <div class="flex">
      <button class="btn btn-text btn-xs">
        <svg class="w-4 h-4 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 12H18M3 6H21M9 18H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Filter
      </button>
    </div>
  </div>
</div>
<section class="mt-16 hidden md:block">
  <header>
    <h1 class="font-semibold text-2xl text-gray-900 dark:text-white">Поиск по объявлениям</h1>
  </header>
  <form class="flex space-x-4 mt-6 relative" action="/search" id="search-form">
      <div class="relative max-w-xs w-full">
      <select name="category_id" class="form-control">
        <option disabled selected value="">Все категории</option>
        <option disabled>&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;</option>
        <% it.categories?.forEach(function render (category, i, a, depth = 0) { %>
          <optgroup label="<%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= category.title %>" class="ml-2">
            <% category.children?.forEach(function (child, i, a) { %>
              <% if (child.children?.length) { %>
                <% render (child, i, a, depth + 1) %>
              <% } else {%>
                <option <%= it.posting_data?.category_id === String(child.id) ? "selected" : "" %> value="<%= child.id %>"><%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= child.title %></option>
              <% } %>
            <% }) %>
          </optgroup>
        <% }) %>
      </select>
        <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
        >
            <path
            d="m6 9 6 6 6-6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            />
        </svg>
      </div>
    <div class="relative w-full">
      <input type="text" class="form-control js-search-input" autocomplete="off" minlength="3" placeholder="Напишите ключевое слово" name="q" value="<%= it.q ?? "" %>" required />
      <ul class="absolute bg-white shadow-lg w-full rounded-lg border border-gray-100 mt-1 overflow-hidden max-h-60 overflow-y-auto -z-10 opacity-0 translate-y-2 duration-200 dark:bg-zinc-900 dark:border-zinc-700 js-search-suggestions">
      </ul>
    </div>
    <div class="relative max-w-xs w-full">
      <select name="region_id" id="" class="form-control" name="region">
        <option disabled selected>Весь Узбекистан</option>
        <% it.regions?.forEach(function (region) { %>
          <option <%= it.region_id === String(region.id) ? "selected" : "" %> value="<%= region.id %>" <%= it.region === String(region.id) ? "selected" : "" %>><%= region.long_name %></option>
        <% }) %>
      </select>
      <svg
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
      >
        <path
          d="m6 9 6 6 6-6"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <button class="btn btn-primary btn-lg min-w-min">Поиск</button>
  </form>
</section>
