<section class="max-w-7xl mx-auto mt-16 px-4 xl:px-0 hidden md:block">
  <header>
    <h1 class="font-semibold text-2xl text-gray-900">Поиск по объявлениям</h1>
  </header>
  <form class="flex space-x-4 mt-6 relative" action="/search">
      <div class="relative max-w-xs w-full">
      <select name="category_id" class="form-control" required>
        <option disabled selected value="">Все категории</option>
        <option disabled>&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;</option>
        <% it.categories.forEach(function render (category, i, a, depth = 0) { %>
          <optgroup label="<%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= category.title %>" class="ml-2">
            <% category.children.forEach(function (child, i, a) { %>
              <% if (child.children?.length) { %>
                <% render (child, i, a, depth + 1) %>
              <% } else {%>
                <option <%= it.posting_data?.category_id === String(child.id) ? "selected" : "" %> value="<%= child.id %>"><%~ Array.from({ length: depth * 4 }).map(() => '&nbsp;').join('') %><%= child.title %></option>
              <% } %>
            <% }) %>
          </optgroup>
        <% }) %>
      </select>
        <svg
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
        >
            <path
            d="m6 9 6 6 6-6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            />
        </svg>
      </div>
    <input type="text" disabled class="form-control" placeholder="Напишите ключевое слово" name="q" />
    <div class="relative max-w-xs w-full">
      <select name="region" id="" class="form-control" name="region">
        <option disabled selected>Весь Узбекистан</option>
        <option value="1">Ташкент</option>
        <option value="2">Наманган</option>
      </select>
      <svg
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-5 h-5 absolute top-1/2 -translate-y-1/2 right-[14px] text-gray-500 pointer-events-none"
      >
        <path
          d="m6 9 6 6 6-6"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <button class="btn btn-primary btn-lg">Поиск</button>
  </form>
</section>
