<!DOCTYPE html>
<html lang="<%= it.meta.lang ?? 'en' %>" class="<%= it.theme || "system" %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width">
    <link rel="icon" type="image/svg+xml" href="/public/images/favicon.svg" />
    <link rel="icon" type="image/png" href="/public/images/favicon.png" />
    <link rel="apple-touch-icon" href="/public/images/needs-logo-192-bg.png" />
    <title><%= it.meta.title %> | Needs</title>
    <link rel="stylesheet" href="/public/css/main.min.css" />
    <link rel="manifest" href="/public/app.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" crossorigin="anonymous" rel="preload" as="style" onload="this.onload = null;this.rel='stylesheet'">

    <!--  Shared element transitions origin trial -->
    <meta http-equiv="origin-trial" content="Aqweaq3dM8+Qm46hxdvkT1Ht2bG0Vk6vQz8gromNFhzIzWl57OjZnLJpF+SfKySMqAvmKG6y4PnkveHiOWEWpAsAAABXeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjMwMDAiLCJmZWF0dXJlIjoiRG9jdW1lbnRUcmFuc2l0aW9uVjIiLCJleHBpcnkiOjE2NjYxMzc1OTl9">
    <!-- -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" crossorigin="anonymous" rel="stylesheet">
    </noscript>
    <meta name="google-signin-scope" content="profile email">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#18181b">
  </head>
  <body class="bg-gray-25 dark:bg-zinc-900 antialiased">
    <script>
      const root = document.documentElement;
      const is_system = root.className.includes("system");
      if (is_system) {
        root.classList.remove("system")
        const mql = window.matchMedia('(prefers-color-scheme: dark)')
        mql.addEventListener("change", (e) => {
          if (e.matches) {
            root.className = "dark"
          } else {
            root.className = "light"
          }
        })
        if (mql.matches) {
          root.className = "dark"
        } else {
          root.className = "light"
        }
      }
    </script>
    <%~ includeFile("./header.html", it) %>
