<!DOCTYPE html>
<html lang="<%= it.meta.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/images/favicon.svg" />
    <link rel="icon" type="image/png" href="/public/images/favicon.png" />
    <title><%= it.meta.title %> | YeaH</title>
    <link rel="stylesheet" href="/public/css/main.min.css" />
    <link rel="manifest" href="/public/app.webmanifest">
    <meta name="google-signin-client_id" content="600896005100-u88qclbcs8clv5mllc2h7dbl9cngppb5.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="profile email">
  </head>
  <body>
