<!DOCTYPE html>
<html lang="<%= it.meta.lang ?? 'en' %>" class="<%= it.theme || "system" %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width">
    <link rel="icon" type="image/svg+xml" href="/public/images/favicon.svg" />
    <link rel="icon" type="image/png" href="/public/images/favicon.png" />
    <link rel="apple-touch-icon" href="/public/images/needs-logo-192-bg.png" />
    <title><%= it.meta.title %> | Needs</title>
    <link rel="stylesheet" href="/public/css/main.min.css" />
    <link rel="manifest" href="/public/app.webmanifest">
    <link rel="preload" href="/public/fonts/Inter.var.woff2" as="font" type="font/woff2" crossorigin />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-signin-scope" content="profile email">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#18181b">
  </head>
  <body class="bg-gray-25 dark:bg-zinc-900 antialiased">
    <script>
      <% for (key in it.env) { %>
      const <%= key %> = "<%= it.env[key] %>"
      <% } %>
      const root = document.documentElement;
      const is_system = root.className.includes("system");
      if (is_system) {
        root.classList.remove("system")
        const mql = window.matchMedia('(prefers-color-scheme: dark)')
        mql.addEventListener("change", (e) => {
          if (e.matches) {
            root.className = "dark"
          } else {
            root.className = "light"
          }
        })
        if (mql.matches) {
          root.className = "dark"
        } else {
          root.className = "light"
        }
      }
    </script>
    <%~ include("./header.html", it) %>
