<% const distinct_dates = new Map() %>
<section class="border-l border-l-gray-200 dark:border-l-zinc-800 w-full">
  <% if (it.chat) { %>
    <form method="post" action="/chats/<%= it.chat.id %>/photos" class="js-photos-link-form">
      <input type="hidden" name="chat_id" value="<%= it.chat.id %>" />
    </form>
    <form method="post" action="/chats/<%= it.chat.id %>/files" class="js-files-link-form">
      <input type="hidden" name="chat_id" value="<%= it.chat.id %>" />
    </form>
    <header class="flex justify-between w-full dark:bg-zinc-900 p-4 shadow-lg dark:drop-shadow-lg">
      <div class="flex space-x-2 items-center">
        <img src="<%= it.chat.posting.cover_url %>/width=80" class="w-12 h-12 rounded-full overflow-hidden" alt="" crossorigin />
        <div class="flex flex-col">
          <a href="<%= it.chat.posting.url %>" class="underline decoration-transparent hover:decoration-white duration-200 text-gray-700 dark:text-gray-200 font-medium">
            <%= it.chat.posting.title %>
          </a>
          <a href="<%=it.chat.posting.creator?.profile_url %>" class="text-gray-500 dark:text-gray-300">@<%= it.chat.posting.creator?.username %></a>
        </div>
      </div>
      <div>
        <a href="<%= it.chat.posting.creator?.profile_url %>" class="btn btn-md btn-primary">View profile</a>
      </div>
    </header>
    <div class="flex flex-col space-y-6">
      <ul class="overflow-y-auto space-y-1 flex-1 max-h-[42rem] p-4 js-messages">
        <% it.messages.forEach(function (message) { %>
          <% const yyyymmdd = new Date(message.created_at).toISOString().split("T")[0] %>
          <% const existing = distinct_dates.has(yyyymmdd) %>
          <% if (!existing) distinct_dates.set(yyyymmdd, 1) %>
          <% if (!existing) { %>
            <div class="text-center py-4">
              <span class="inline-block text-xs bg-gray-100 text-gray-500 px-3 py-1 rounded-full dark:bg-zinc-800 dark:text-gray-400">
                <%= yyyymmdd %>
              </span>
            </div>
          <% } %>
          <% if (message.type === "text") { %>
            <%~ include('./text-message.html', {message, formatter: it.formatter, user: it.user}) %>
          <% } %>
          <% if (message.type === "media") { %>
            <%~ include('./photo-message.html', {message, formatter: it.formatter, format_bytes:
            it.format_bytes}) %>
          <% } %>
          <% if (message.type === "file") { %>
            <%~ include('./file-message.html', {message, formatter: it.formatter, format_bytes:
            it.format_bytes}) %>
          <% } %>
        <% }) %>
      </ul>
      <div class="px-4 pb-4 relative js-chat-actions-container">
        <form action="/chats/<%= it.chat.id %>/messages" api_action="/api/chats/<%= it.chat.id %>/messages" method="post" class="flex items-center space-x-2 js-message-form">
          <div>
            <input type="hidden" name="chat_id" value="<%= it.chat.id %>" />
            <label for="files" class="block text-gray-500 p-3 border border-transparent rounded-lg cursor-pointer hover:text-gray-900 hover:border-gray-300 hover:shadow-xs hover:bg-gray-50 duration-200 dark:hover:bg-zinc-800 dark:hover:text-white dark:hover:border-zinc-700">
              <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.1525 10.8995L12.1369 19.9151C10.0866 21.9653 6.7625 21.9653 4.71225 19.9151C2.662 17.8648 2.662 14.5407 4.71225 12.4904L13.7279 3.47483C15.0947 2.108 17.3108 2.108 18.6776 3.47483C20.0444 4.84167 20.0444 7.05775 18.6776 8.42458L10.0156 17.0866C9.33213 17.7701 8.22409 17.7701 7.54068 17.0866C6.85726 16.4032 6.85726 15.2952 7.54068 14.6118L15.1421 7.01037" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </label>
            <input type="file" name="files" id="files" value="" class="hidden js-files" multiple />
          </div>
          <elastic-textarea style="display: inline-flex"><textarea required autofocus placeholder="<%= it.t("your_message", { ns: "chats" })%>" class="form-control" name="content" id="" rows="1" cols="100" tabindex=""></textarea></elastic-textarea>
          <button class="btn btn-primary btn-lg flex-shrink-0"><%= it.t("send", { ns: "chats" })%></button>
        </form>
      </div>
    </div>
  <% } else { %>
    <div class="flex items-center justify-center h-full">
      <h3 class="text-gray-700 dark:text-gray-200 text-xl font-medium"><%= it.t("select_to_see", { ns: "chats" })%></h3>
    </div>
  <% } %>
</section>
</div>
</main>
<script>
 document.title = "<%= it.t("title", { ns: "chats" }) %> | Needs"
</script>
<script defer async type="module" src="/public/js/elastic-textarea.js"></script>
<script defer async type="module" src="/public/js/chat.js"></script>
