<% const distinct_dates = new Map() %>
<section class="border-l border-l-gray-200 dark:border-l-zinc-800 w-full">
  <% if (it.chat) { %>
    <header class="flex justify-between w-full dark:bg-zinc-900 p-4 shadow-lg dark:drop-shadow-lg">
      <div class="flex space-x-2 items-center">
        <img src="http://localhost:3000/avatars?name=Juraev Avazbek" class="w-12 h-12 rounded-full overflow-hidden" alt="" />
        <div class="flex flex-col">
          <span class="text-gray-700 dark:text-gray-200 font-medium">Andi Lane</span>
          <span class="text-gray-500 dark:text-gray-300">@andi</span>
        </div>
      </div>
      <div>
        <a href="/users/user-id" class="btn btn-md btn-primary">View profile</a>
      </div>
    </header>
    <div class="flex flex-col space-y-6">
      <ul class="overflow-y-auto space-y-1 flex-1 max-h-[42rem] p-4 js-messages">
        <% it.chat.messages.forEach(function (message) { %>
          <% const yyyymmdd = new Date(message.created_at).toISOString().split("T")[0] %>
          <% const existing = distinct_dates.has(yyyymmdd) %>
          <% if (!existing) distinct_dates.set(yyyymmdd, 1) %>
          <% if (!existing) {%>
          <div class="text-center py-4">
            <span class="inline-block text-xs bg-gray-100 text-gray-500 px-3 py-1 rounded-full dark:bg-zinc-800 dark:text-gray-400">
              <%= yyyymmdd %>
            </span>
          </div>
          <% } %>
          <li class="p-2 rounded-lg block relative max-w-max <%= message.is_own_message ? "ml-auto text-white bg-primary-600" : "mr-auto text-gray-900 bg-gray-100 dark:text-white dark:bg-zinc-800" %>">
            <p>
              <%= message.content %>
            </p>
            <span class="block text-right text-xs mt-0.5 <%= message.is_own_message ? "text-primary-50" : "text-gray-500 dark:text-gray-300" %>">
              <%= it.formatter.format(new Date(message.created_at)) %>
            </span>
          </li>
        <% }) %>
        <li class="max-w-max ml-auto bg-primary-600 text-white rounded-lg overflow-hidden">
          <ul>
            <li class="flex items-center">
              <span class="flex items-center justify-center flex-shrink-0 p-4 ml-0.5 rounded-lg bg-gray-100 text-gray-600 dark:bg-white dark:text-primary-600">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 2.26946V6.4C14 6.96005 14 7.24008 14.109 7.45399C14.2049 7.64215 14.3578 7.79513 14.546 7.89101C14.7599 8 15.0399 8 15.6 8H19.7305M20 9.98822V17.2C20 18.8802 20 19.7202 19.673 20.362C19.3854 20.9265 18.9265 21.3854 18.362 21.673C17.7202 22 16.8802 22 15.2 22H8.8C7.11984 22 6.27976 22 5.63803 21.673C5.07354 21.3854 4.6146 20.9265 4.32698 20.362C4 19.7202 4 18.8802 4 17.2V6.8C4 5.11984 4 4.27976 4.32698 3.63803C4.6146 3.07354 5.07354 2.6146 5.63803 2.32698C6.27976 2 7.11984 2 8.8 2H12.0118C12.7455 2 13.1124 2 13.4577 2.08289C13.7638 2.15638 14.0564 2.27759 14.3249 2.44208C14.6276 2.6276 14.887 2.88703 15.4059 3.40589L18.5941 6.59411C19.113 7.11297 19.3724 7.3724 19.5579 7.67515C19.7224 7.94356 19.8436 8.2362 19.9171 8.5423C20 8.88757 20 9.25445 20 9.98822Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <div class="p-2">
                <span class="block font-meidum text-gray-700 dark:text-gray-200 truncate">file.pdf</span>
                <div class="flex justify-between text-xs space-x-4 mt-0.5 text-primary-50">
                  <span class="">12MB</span>
                  <span class="">14:45</span>
                </div>
              </div>
            </li>
            <li class="flex items-center">
              <span class="flex items-center justify-center flex-shrink-0 p-4 ml-0.5 rounded-lg bg-gray-100 text-gray-600 dark:bg-white dark:text-primary-600">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 2.26946V6.4C14 6.96005 14 7.24008 14.109 7.45399C14.2049 7.64215 14.3578 7.79513 14.546 7.89101C14.7599 8 15.0399 8 15.6 8H19.7305M20 9.98822V17.2C20 18.8802 20 19.7202 19.673 20.362C19.3854 20.9265 18.9265 21.3854 18.362 21.673C17.7202 22 16.8802 22 15.2 22H8.8C7.11984 22 6.27976 22 5.63803 21.673C5.07354 21.3854 4.6146 20.9265 4.32698 20.362C4 19.7202 4 18.8802 4 17.2V6.8C4 5.11984 4 4.27976 4.32698 3.63803C4.6146 3.07354 5.07354 2.6146 5.63803 2.32698C6.27976 2 7.11984 2 8.8 2H12.0118C12.7455 2 13.1124 2 13.4577 2.08289C13.7638 2.15638 14.0564 2.27759 14.3249 2.44208C14.6276 2.6276 14.887 2.88703 15.4059 3.40589L18.5941 6.59411C19.113 7.11297 19.3724 7.3724 19.5579 7.67515C19.7224 7.94356 19.8436 8.2362 19.9171 8.5423C20 8.88757 20 9.25445 20 9.98822Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <div class="p-2">
                <span class="block font-meidum text-gray-700 dark:text-gray-200 truncate">file.pdf</span>
                <div class="flex justify-between text-xs space-x-4 mt-0.5 text-primary-50">
                  <span class="">12MB</span>
                  <span class="">14:45</span>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- <li class="w-full max-w-sm ml-auto">
                  <ul class="flex flex-wrap justify-end gap-0.5 bg-primary-600 p-0.5 rounded-lg">
                    <li class="basis-40 flex-1 max-h-64">
                      <img class="w-full h-full object-cover align-middle rounded-lg" src="https://images.unsplash.com/photo-1666028160178-6597a4ce779c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1027&q=80" crossorigin alt="" />
                    </li>
                    <li class="basis-40 flex-1 max-h-64">
                      <img class="w-full h-full object-cover align-middle rounded-lg" src="https://plus.unsplash.com/premium_photo-1661699015735-e28f85b54e56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" alt="" />
                    </li>
                    <li class="basis-40 flex-1 max-h-64">
                      <img class="w-full h-full object-cover align-middle rounded-lg" src="https://images.unsplash.com/photo-1666031116438-732c23be9a42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="" />
                    </li>
                  </ul>
                </li> -->
      </ul>
      <div class="px-4 pb-4 relative js-chat-actions-container">
        <!-- <div class="max-w-xs w-full bg-white border border-gray-100 shadow-xs p-2 mb-2 rounded-lg space-y-3 absolute bottom-full dark:bg-zinc-800 dark:border-zinc-700 js-files-preview">
                  <div>
                    <span class="text-sm font-medium text-gray-600 dark:text-gray-300">
                      Photos
                    </span>
                    <ul class="mt-1">
                      <li class="flex items-center space-x-2">
                        <img src="http://localhost:3000/avatars?name=Juraev Avazbek" class="w-11 h-11 object-cover rounded-lg" alt="" />
                        <div class="flex flex-col space-y-1 overflow-hidden">
                          <span class="font-medium text-gray-700 text-sm dark:text-gray-200 truncate">image.jpg</span>
                          <span class="text-gray-500 dark:text-gray-300 text-xs">3MB</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <span class="text-sm font-medium text-gray-600 dark:text-gray-300">
                      Files
                    </span>
                    <ul class="mt-1">
                      <li class="flex items-center space-x-2">
                        <span class="flex items-center justify-center flex-shrink-0 w-11 h-11 rounded-lg bg-gray-100 text-gray-600 dark:bg-zinc-700 dark:text-gray-300">
                          <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 2.26946V6.4C14 6.96005 14 7.24008 14.109 7.45399C14.2049 7.64215 14.3578 7.79513 14.546 7.89101C14.7599 8 15.0399 8 15.6 8H19.7305M20 9.98822V17.2C20 18.8802 20 19.7202 19.673 20.362C19.3854 20.9265 18.9265 21.3854 18.362 21.673C17.7202 22 16.8802 22 15.2 22H8.8C7.11984 22 6.27976 22 5.63803 21.673C5.07354 21.3854 4.6146 20.9265 4.32698 20.362C4 19.7202 4 18.8802 4 17.2V6.8C4 5.11984 4 4.27976 4.32698 3.63803C4.6146 3.07354 5.07354 2.6146 5.63803 2.32698C6.27976 2 7.11984 2 8.8 2H12.0118C12.7455 2 13.1124 2 13.4577 2.08289C13.7638 2.15638 14.0564 2.27759 14.3249 2.44208C14.6276 2.6276 14.887 2.88703 15.4059 3.40589L18.5941 6.59411C19.113 7.11297 19.3724 7.3724 19.5579 7.67515C19.7224 7.94356 19.8436 8.2362 19.9171 8.5423C20 8.88757 20 9.25445 20 9.98822Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </span>
                        <div class="flex flex-col space-y-1 overflow-hidden">
                          <span class="font-medium text-gray-700 text-sm dark:text-gray-200 truncate">file.pdf</span>
                          <span class="text-gray-500 dark:text-gray-300 text-xs">1.2MB</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
        <form method="post" action="/chats/hash-id" class="flex items-center space-x-2">
          <div>
            <label for="files" class="block text-gray-500 p-3 border border-transparent rounded-lg cursor-pointer hover:text-gray-900 hover:border-gray-300 hover:shadow-xs hover:bg-gray-50 duration-200 dark:hover:bg-zinc-800 dark:hover:text-white dark:hover:border-zinc-700">
              <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.1525 10.8995L12.1369 19.9151C10.0866 21.9653 6.7625 21.9653 4.71225 19.9151C2.662 17.8648 2.662 14.5407 4.71225 12.4904L13.7279 3.47483C15.0947 2.108 17.3108 2.108 18.6776 3.47483C20.0444 4.84167 20.0444 7.05775 18.6776 8.42458L10.0156 17.0866C9.33213 17.7701 8.22409 17.7701 7.54068 17.0866C6.85726 16.4032 6.85726 15.2952 7.54068 14.6118L15.1421 7.01037" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </label>
            <input type="file" name="files" id="files" value="" class="hidden js-files" multiple />
          </div>
          <elastic-textarea style="display: inline-flex"><textarea class="form-control" name="content" id="" rows="1" cols="100" tabindex=""></textarea></elastic-textarea>
          <button class="btn btn-primary btn-lg">Send</button>
        </form>
      </div>
    </div>
  <% } else { %>
    <div class="flex items-center justify-center h-full">
      <h3 class="text-gray-700 dark:text-gray-200 text-xl font-medium"><%= it.t("select_to_see", { ns: "chats" })%></h3>
    </div>
  <% } %>
</section>
</div>
</main>
<script defer async type="module" src="/public/js/elastic-textarea.js"></script>
<script defer async type="module" src="/public/js/chat.js"></script>
