<section class="max-w-sm w-full flex-shrink-0 overflow-y-auto">
  <div class="p-4 sticky top-0 shadow-sm dark:drop-shadow-lg bg-white dark:bg-zinc-900">
    <input type="search" name="q" class="form-control" placeholder="<%= it.t("search", { ns: "common" })%>" />
  </div>
  <ul class="overflow-y-auto max-h-[42rem] js-chats-list">
    <% it.chats && it.chats.forEach(function (chat) { %>
    <li id="chat-<%= chat.id %>" class="flex flex-col hover:bg-gray-100 dark:hover:bg-zinc-800
      duration-200 p-4 relative <%= String(chat.id) === it.current_chat_id ? "bg-gray-100 dark:bg-zinc-800" : "" %>">
      <a href="/chats/<%= chat.id %>?c=chat-<%= chat.id %>&m=<%= chat.last_read_message_id ? 'message-' + chat.last_read_message_id : '' %>" class="after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0"></a>
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="<%= chat.posting.cover_url %>/width=80" srcset="<%= it.generate_srcset(chat.posting.cover_url, "fit=scale-down", 2) %>" alt="" class="w-12 h-12 object-cover rounded-full overflow-hidden mr-2 flex-shrink-0" crossorigin />
            <div class="flex flex-col max-w-[200px]">
              <span class="text-gray-500 dark:text-gray-300 text-sm truncate"><%= chat.members.map(member => member.name).join(', ') %></span>
              <a href="<%= chat.posting.url %>" class="relative underline decoration-transparent hover:decoration-white duration-200 text-gray-700 dark:text-gray-200 font-medium truncate"> <%= chat.posting.title %> </a>
            </div>
          </div>
          <div class="flex flex-col items-end space-y-2">
            <% if (chat.latest_message) { %>
              <span class="text-gray-500 dark:text-gray-300 text-sm js-latest-date"><%= it.format_relative(chat.latest_message.created_at, new Date()) %></span>
            <% } %>
            <% if (chat.unread_count) { %>
              <div class="inline-flex text-xs p-1 min-w-[1.2rem] leading-[0] min-h-[1.2rem] bg-primary-500 text-white
                items-center justify-center rounded-full">
                <%= chat.unread_count %>
              </div>
            <% } %>
          </div>
        </div>
        <% if (chat.latest_message) {%>
          <p class="text-gray-500 dark:text-gray-300 text-sm truncate mt-2 js-latest-message">
            <%= chat.latest_message.sender_id === it.user.id ? `${it.t("you", { ns: "chats" })}:` : ""%>
            <% if (chat.latest_message.type === "text") { %>
              <%= chat.latest_message.content %>
            <% } else { %>
              <%= chat.latest_message.attachments[chat.latest_message.attachments.length - 1]?.name %>
            <% } %>
          </p>
        <% } %>
      </li>
    <% }) %>
  </ul>
</section>
