<section class="max-w-xs w-full flex-shrink-0 overflow-y-auto">
  <div class="p-4 sticky top-0 shadow-sm dark:drop-shadow-lg bg-white dark:bg-zinc-900">
    <input type="search" name="q" class="form-control" placeholder="<%= it.t("search", { ns: "common" })%>" />
  </div>
  <ul class="overflow-y-auto">
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
    <li>
      <a href="/chats/hash-id" class="flex flex-col space-y-2 hover:bg-gray-100 dark:hover:bg-zinc-800 duration-200 p-4">
        <div class="flex items-start justify-between">
          <div class="flex items-center">
            <img src="http://localhost:3000/avatars?name=Juraev Avazbek" alt="" class="w-10 h-10 object-cover rounded-full overflow-hidden mr-2" />
            <div class="flex flex-col">
              <span class="text-gray-700 dark:text-gray-200 font-medium">Name</span>
              <span class="text-gray-500 dark:text-gray-300">@andi</span>
            </div>
          </div>
          <span class="text-gray-500 dark:text-gray-300 text-sm">5 min ago</span>
        </div>
        <p class="text-gray-500 dark:text-gray-300 text-sm">Last message last message last message</p>
      </a>
    </li>
  </ul>
</section>
