<li id="message-<%= it.message.id %>" class="w-full max-w-md relative <%= it.message.is_own_message ? "ml-auto" : "mr-auto js-received" %>">
  <ul class="flex flex-wrap justify-end gap-0.5 bg-primary-600 p-0.5 rounded-lg js-image-viewer">
    <% it.message.attachments.forEach(function (attachment) { %>
      <li class="basis-40 flex-1 max-h-64 relative">
        <span class="absolute left-1 top-1 inline-block bg-black/50 rounded-lg py-0.5 px-2 text-white text-xs"><%= it.format_bytes(attachment.size) %></span>
        <button type="button" class="absolute top-0 left-0 w-full h-full text-white js-photo-download-btn" data-photo_url="<%= attachment.url %>">
          <span class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-black/50 p-3 rounded-full inline-block pointer-events-none">
            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4V20M12 20L18 14M12 20L6 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>
        <img class="cursor-zoom-in w-full h-full object-cover align-middle rounded-lg js-zoomable" data-photo_url="<%= attachment.url %>" src="<%= attachment.url %>/width=10" crossorigin referrerpolicy="no-referrer">
      </li>
    <% }) %>
  </ul>
<div class="inline-flex items-center space-x-1 py-0.5 px-2 rounded-lg text-xs text-white absolute bottom-2 right-2 bg-black/50">
  <span><%= it.formatter.format(new Date(it.message.created_at)) %></span>
  <% if (it.message.is_own_message) { %>
    <% if (it.message.read_by_count > 0) {%>
      <span class="flex">
        <svg class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="w-3.5 h-3.5 -ml-2.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    <% } else { %>
      <span>
        <svg class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
    <% } %>
  <% } %>
</div>
</li>
