<li id="message-<%= it.message.id %>" data-id="<%= it.message.id %>" data-chat_id="<%= it.message.chat_id %>"
    class="group p-2 rounded-lg block relative max-w-md w-fit <%= it.message.is_own_message ? `ml-auto text-white bg-primary-600 ${it.message.read_by.length > 0 ? "read" : ""}` : `mr-auto text-gray-900 bg-gray-100 dark:text-white dark:bg-zinc-800 ${!it.message.is_read ? "js-unread" : ""}` %>">
  <form api_action="/api/chats/<%= it.message.chat_id %>/messages/<%= it.message.id %>" api_method="PATCH">
    <input type="hidden" name="chat_id" value="<%= it.message.chat_id %>" />
    <input type="hidden" name="id" value="<%= it.message.id %>" />
    <input type="hidden" name="_action" value="read" />
  </form>
  <p>
    <%= it.message.content %>
  </p>
  <div class="flex items-center justify-end text-xs mt-0.5 space-x-1 <%= it.message.is_own_message ? "text-primary-50" : "text-gray-500 dark:text-gray-300" %>">
    <span>
      <%= it.formatter.format(new Date(it.message.created_at)) %>
    </span>
    <% if (it.message.is_own_message) { %>
        <span class="flex">
          <svg class="w-3.5 h-3.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg class="w-3.5 h-3.5 -ml-2.5 hidden group-[.read]:block" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
    <% } %>
  </div>
</li>
